<div class="container">
    <div class="row m-0 p-0 shadow">
        <div class="col-12 d-flex">
            <p class="my-font fs-2 text-dark m-auto">Добавление новой статьи</p>
        </div>
        <div class="col-12">
            <div class="row border-bottom border-dark pt-4">
                <div class="col-6 d-flex">
                    <div class="mt-auto">
                        <p class="fs-4 text-dark">Настройка статьи</p>
                    </div>
                </div>
                <div class="col-6 py-2 d-flex">
                    <button class="btn btn-outline-dark ms-auto">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</div>