<div class="container">
    <div class="row m-0 p-0 shadow">
        <div class="col-12 d-flex">
            <p class="my-font fs-2 text-dark m-auto">Добавление новой статьи</p>
        </div>
        <div class="col-12">
            <div class="row border-bottom border-dark pt-4">
                <div class="col-6 d-flex">
                    <div class="mt-auto">
                        <p class="fs-4 text-dark">Настройка статьи</p>
                    </div>
                </div>
                <div class="col-6 py-2 d-flex">
                    <button class="btn btn-outline-dark ms-auto" onclick="sendAndCheckArticle()">Отправить</button>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-12">
                    <label for="article-title" class="ms-1">Название статьи</label>
                    <input type="text" class="form-control" id="article-title">
                </div>
                <div class="col-12">
                    <label for="article-notation" class="ms-1">Аннотация</label>
                    <input type="text" class="form-control" id="article-notation">
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <div id="toolbar-container">
                      <span class="ql-formats">
                        <select class="ql-font"></select>
                        <select class="ql-size"></select>
                      </span>
                        <span class="ql-formats">
                        <button class="ql-bold"></button>
                        <button class="ql-italic"></button>
                        <button class="ql-underline"></button>
                        <button class="ql-strike"></button>
                      </span>
                        <span class="ql-formats">
                        <select class="ql-color"></select>
                        <select class="ql-background"></select>
                      </span>
                        <span class="ql-formats">
                        <button class="ql-script" value="sub"></button>
                        <button class="ql-script" value="super"></button>
                      </span>
                        <span class="ql-formats">
                        <button class="ql-header" value="1"></button>
                        <button class="ql-header" value="2"></button>
                        <button class="ql-blockquote"></button>
                        <button class="ql-code-block"></button>
                      </span>
                        <span class="ql-formats">
                        <button class="ql-list" value="ordered"></button>
                        <button class="ql-list" value="bullet"></button>
                        <button class="ql-indent" value="-1"></button>
                        <button class="ql-indent" value="+1"></button>
                      </span>
                        <span class="ql-formats">
                        <button class="ql-direction" value="rtl"></button>
                        <select class="ql-align"></select>
                      </span>
                        <span class="ql-formats">
                        <button class="ql-link"></button>
                        <button class="ql-image"></button>
                        <button class="ql-video"></button>
                        <button class="ql-formula"></button>
                      </span>
                        <span class="ql-formats">
                        <button class="ql-clean"></button>
                      </span>
                    </div>
                    <div id="editor"></div>
                </div>
            </div>
            <div class="row border-bottom border-dark pt-4">
                <div class="col-12 d-flex">
                    <div class="mt-auto">
                        <p class="fs-4 text-dark">Настройка мета данных</p>
                    </div>
                </div>
            </div>
            <div class="row pt-1 pb-4">
                <div class="col-12">
                    <label for="meta-title" class="ms-1 text-secondary"><small>Meta title</small></label>
                    <input id="meta-title" type="text" class="form-control text-dark">
                </div>
                <div class="col-12">
                    <label for="meta-description" class="ms-1 text-secondary"><small>Meta description</small></label>
                    <input id="meta-description" type="text" class="form-control text-dark">
                </div>
                <div class="col-12">
                    <label for="meta-keywords" class="ms-1 text-secondary"><small>Meta keywords: </small><small
                            class="text-danger">Указывайте keywords через запятую с пробелом</small></label>
                    <input id="meta-keywords" type="text" class="form-control text-dark">
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.js"></script>
<!-- Initialize Quill editor -->
<script th:inline="javascript">
    let article_csrf = [[${_csrf}]];

    class ImageResize {
        constructor(quill, options) {
            this.quill = quill;
            this.options = options;
            this.dragging = false;
            this.quill.root.addEventListener('mouseover', this.handleMouseOver.bind(this), false);
            this.quill.root.addEventListener('mousedown', this.handleMouseDown.bind(this), false);
            this.quill.root.addEventListener('mouseup', this.handleMouseUp.bind(this), false);
            this.quill.root.addEventListener('mousemove', this.handleMouseMove.bind(this), false);
        }

        handleMouseOver(evt) {
            if (evt.target.tagName === 'IMG') {
                evt.target.style.cursor = 'se-resize';
            }
        }

        handleMouseDown(evt) {
            if (evt.target.tagName === 'IMG') {
                this.dragging = true;
                this.startX = evt.clientX;
                this.startY = evt.clientY;
                this.startWidth = evt.target.width;
                this.startHeight = evt.target.height;
            }
        }

        handleMouseUp() {
            this.dragging = false;
        }

        handleMouseMove(evt) {
            if (this.dragging && evt.target.tagName === 'IMG') {
                const deltaX = evt.clientX - this.startX;
                const deltaY = evt.clientY - this.startY;
                const newWidth = this.startWidth + deltaX;
                const newHeight = this.startHeight + deltaY;
                evt.target.width = newWidth;
                evt.target.height = newHeight;
            }
        }
    }

    Quill.register('modules/imageResize', ImageResize);

    const options = {
        /*debug: 'info',*/
        modules: {
            syntax: true,
            toolbar: '#toolbar-container',
            imageResize: {
                minWidth: 32,
                minHeight: 32,
                maxWidth: 1280,
                maxHeight: 1280
            }
        },
        placeholder: 'Контент ...',
        theme: 'snow'
    };
    const quill = new Quill('#editor', options);
    quill.on('text-change', function(delta, oldDelta, source) {
        if (source === 'user') {
            let images = quill.root.getElementsByTagName('img');
            for (let i = 0; i < images.length; i++) {
                images[i].classList.add('img-thumbnail');
                /*images[i].setAttribute('align', 'left');*/
            }
        }
    });

    function sendAndCheckArticle(){
        let images = quill.root.getElementsByTagName('img');
        let files = [];
        for (let i = 0; i < images.length; i++) {
            let src = images[i].src;
            let match = src.match(/^data:image\/(\w+);base64,/);
            if (match) {
                let type = match[1];
                let data = src.replace(/^data:image\/\w+;base64,/, '');
                let blob = base64ToBlob(data, type);
                files.push(new File([blob], `image${i}.${type}`));
            }
        }

        let links = quill.root.getElementsByTagName('a');
        let urls = [];
        for (let i = 0; i < links.length; i++) {
            let url = links[i].href;
            urls.push(url);
        }

        let formData = new FormData();
        formData.append('title', $('#article-title').val());
        formData.append('notation', $('#article-notation').val());
        formData.append('content', quill.root.innerHTML);
        formData.append('metaTitle', $('#meta-title').val());
        formData.append('metaDescription', $('#meta-description').val());
        formData.append('metaKeywords', $('#meta-keywords').val());

        files.forEach((file, index) => formData.append('images', file));
        urls.forEach((url, index) => formData.append(`links[${index}]`, url));

        $.ajax({
            url: '/api/article/create',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(article_csrf.headerName, article_csrf.token);
            },
            success: function(response) {
                showToast('success', response);
            },
            error: function(xhr, status, error) {
                console.error('Error:', error);
                showToast("error", status + ': ' + error);
            }
        });
    }

    function base64ToBlob(base64, type) {
        let binaryString = atob(base64);
        let len = binaryString.length;
        let bytes = new Uint8Array(len);
        for (let i = 0; i < len; i++) {
            bytes[i] = binaryString.charCodeAt(i);
        }
        return new Blob([bytes], { type: `image/${type}` });
    }
</script>