<div class="container">
    <div class="row m-0 p-0 shadow">
        <div class="col-12 d-flex">
            <p class="my-font fs-2 text-dark m-auto" th:text="'Редактор статьи: ' + ${article.title}"></p>
        </div>
        <div class="col-12">
            <div class="row border-bottom border-dark pt-4">
                <div class="col-6 d-flex">
                    <div class="mt-auto">
                        <p class="fs-4 text-dark">Настройка статьи</p>
                    </div>
                </div>
                <div class="col-6 py-2 d-flex">
                    <button class="btn btn-outline-dark ms-auto" onclick="updateAndCheckArticle()">Обновить</button>
                </div>
            </div>
            <div class="row pt-1">
                <div class="col-12">
                    <label for="article-title" class="ms-1">Название статьи</label>
                    <input type="text" class="form-control" id="article-title" th:value="${article.title}">
                </div>
                <div class="col-12">
                    <label for="article-notation" class="ms-1">Аннотация</label>
                    <input type="text" class="form-control" id="article-notation" th:value="${article.notation}">
                </div>
            </div>
            <div class="row m-0 mt-3 p-0">
                <div class="col m-0 p-0">
                    <div class="row">
                        <div class="col">
                            <div id="toolbar-container">
                                <span class="ql-formats">
                                    <select class="ql-font" title="Шрифт"></select>
                                    <select class="ql-size" title="Размер текста"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-bold" title="Жирный"></button>
                                    <button class="ql-italic" title="Наклонный"></button>
                                    <button class="ql-underline" title="Подчеркнутый"></button>
                                    <button class="ql-strike" title="Зачеркнутый"></button>
                                </span>
                                <span class="ql-formats">
                                    <select class="ql-color" title="Цвет текста"></select>
                                    <select class="ql-background" title="Выделения текста"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-script" value="sub" title="Нижний регистр"></button>
                                    <button class="ql-script" value="super" title="Верхний регистр"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-header" value="1"></button>
                                    <button class="ql-header" value="2"></button>
                                    <button class="ql-blockquote" title="Цитата"></button>
                                    <!--<button class="ql-code-block"></button>-->
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-list" value="ordered" title="Нумерованный список"></button>
                                    <button class="ql-list" value="bullet" title="Не нумерованный список"></button>
                                    <button class="ql-indent" value="-1" title="Отступ вправо"></button>
                                    <button class="ql-indent" value="+1" title="Отступ влево"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-direction" value="rtl" title="Направление текста"></button>
                                    <select class="ql-align" title="Выравнивание"></select>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-link" title="Создать ссылку"></button>
                                    <button class="ql-image" title="Добавить изображение"></button>
                                    <button class="ql-custom-image-handler" title="Оптикание изображения (img align left)"></button>
                                    <button class="ql-video" title="Ссылка на видео"></button>
                                    <button class="ql-formula" title="Создать формулу"></button>
                                </span>
                                <span class="ql-formats">
                                    <button id="toggle-code" class="ql-view-code" title="Показать код"></button>
                                </span>
                                <span class="ql-formats">
                                    <button class="ql-clean" title="Очистить"></button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div id="editor"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-bottom border-dark pt-4">
                <div class="col-12 d-flex">
                    <div class="mt-auto">
                        <p class="fs-4 text-dark">Настройка мета данных</p>
                    </div>
                </div>
            </div>
            <div class="row pt-1 pb-4">
                <div class="col-12">
                    <label for="meta-title" class="ms-1 text-secondary"><small>Meta title</small></label>
                    <input id="meta-title" type="text" class="form-control text-dark" th:value="${article.metaTitle}">
                </div>
                <div class="col-12">
                    <label for="meta-description" class="ms-1 text-secondary"><small>Meta description</small></label>
                    <input id="meta-description" type="text" class="form-control text-dark" th:value="${article.metaDescription}">
                </div>
                <div class="col-12">
                    <label for="meta-keywords" class="ms-1 text-secondary"><small>Meta keywords: </small><small class="text-danger">Указывайте keywords через запятую с пробелом</small></label>
                    <input id="meta-keywords" type="text" class="form-control text-dark" th:value="${article.keywords}">
                </div>
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let article_csrf = [[${_csrf}]];
    let article = [[${article}]];
    let quill;

    document.addEventListener('DOMContentLoaded', function () {
        if (localStorage.getItem('showToast') === 'true') {
            // отображаем toast
            showToast(localStorage.getItem('status'), localStorage.getItem('message'));
            // удаляем информацию о том, что нужно отобразить toast
            localStorage.removeItem('showToast');
            localStorage.removeItem('status');
            localStorage.removeItem('message');
        }
    });

    updateImageSources(article.content, article.images).then(content => {
        class ImageResize {
            constructor(quill, options) {
                this.quill = quill;
                this.options = options;
                this.dragging = false;
                this.quill.root.addEventListener('mouseover', this.handleMouseOver.bind(this), false);
                this.quill.root.addEventListener('mousedown', this.handleMouseDown.bind(this), false);
                this.quill.root.addEventListener('mouseup', this.handleMouseUp.bind(this), false);
                this.quill.root.addEventListener('mousemove', this.handleMouseMove.bind(this), false);
            }

            handleMouseOver(evt) {
                if (evt.target.tagName === 'IMG') {
                    evt.target.style.cursor = 'se-resize';
                }
            }

            handleMouseDown(evt) {
                if (evt.target.tagName === 'IMG') {
                    this.dragging = true;
                    this.startX = evt.clientX;
                    this.startY = evt.clientY;
                    this.startWidth = parseFloat(evt.target.style.width) || 100;
                    this.startHeight = parseFloat(evt.target.style.height) || 100;
                    evt.target.setAttribute('data-start-width', this.startWidth);
                    evt.target.setAttribute('data-start-height', this.startHeight);
                }
            }

            handleMouseUp() {
                this.dragging = false;
            }

            handleMouseMove(evt) {
                if (this.dragging && evt.target.tagName === 'IMG') {
                    const deltaX = evt.clientX - this.startX;
                    const deltaY = evt.clientY - this.startY;

                    const containerWidth = this.quill.root.clientWidth;
                    const containerHeight = this.quill.root.clientHeight;

                    const startWidthPercent = parseFloat(evt.target.getAttribute('data-start-width'));
                    const startHeightPercent = parseFloat(evt.target.getAttribute('data-start-height'));

                    const newWidthPercent = startWidthPercent + deltaX / containerWidth * 100;
                    const newHeightPercent = startHeightPercent + deltaY / containerHeight * 100;

                    const newWidth = Math.max(this.options.minWidth, Math.min(this.options.maxWidth, newWidthPercent)) + '%';
                    const newHeight = Math.max(this.options.minHeight, Math.min(this.options.maxHeight, newHeightPercent)) + '%';

                    evt.target.style.width = newWidth;
                    evt.target.style.height = newHeight;
                }
            }
        }

        class CustomImageHandler {
            constructor(quill, options) {
                this.quill = quill;
                this.options = options;
                this.quill.root.addEventListener('input', this.handleInput.bind(this), false);
            }

            handleInput(evt) {
                const images = this.quill.root.querySelectorAll('img');
                images.forEach(img => {
                    if (img.parentElement.tagName === 'P') {
                        const parent = img.parentElement;
                        parent.parentElement.insertBefore(img, parent);
                        parent.parentElement.removeChild(parent);
                    }
                });
            }

            toggle() {
                const selection = this.quill.getSelection();
                if(selection){
                    const [leaf] = this.quill.getLeaf(selection.index);
                    if (leaf && leaf.domNode.tagName === 'IMG') {
                        const img = leaf.domNode;
                        const hasAlign = img.getAttribute('align');
                        if(hasAlign){
                            img.removeAttribute('align');
                        }else{
                            img.setAttribute('align', 'left');
                        }
                    }
                }
            }
        }

        Quill.register('modules/imageResize', ImageResize);
        Quill.register('modules/customImageHandler', CustomImageHandler);

        const options = {
            modules: {
                syntax: true,
                toolbar: '#toolbar-container',
                imageResize: {
                    minWidth: 10,
                    minHeight: 10,
                    maxWidth: 100,
                    maxHeight: 100
                },
                customImageHandler: {}
            },
            placeholder: 'Контент ...',
            theme: 'snow'
        };

        quill = new Quill('#editor', options);

        document.querySelector('.ql-custom-image-handler').addEventListener('click', function() {
            const customImageHandler = quill.getModule('customImageHandler');
            customImageHandler.toggle();
        });

        const toggleButton = document.getElementById('toggle-code');
        let codeView = false;

        toggleButton.addEventListener('click', () => {
            if (codeView) {
                switchToEditorView();
            } else {
                switchToCodeView();
            }
            codeView = !codeView;
        });

        quill.on('text-change', function (delta, oldDelta, source) {
            if (source === 'user') {
                let images = quill.root.getElementsByTagName('img');
                for (let i = 0; i < images.length; i++) {
                    images[i].removeAttribute('width');
                    images[i].removeAttribute('height');
                    images[i].classList.add('img-thumbnail');
                    images[i].classList.add('mx-2');
                }

                let urls = quill.root.getElementsByTagName('a');
                for (let i = 0; i < urls.length; i++) {
                    urls[i].style = null;
                    urls[i].classList.add('classic-link');
                }
            }
        });

        document.querySelector('.ql-clean').addEventListener('click', function() {
            quill.setText(''); // Очищает содержимое редактора
        });

        quill.root.innerHTML = content;
    }).catch(error => {
        console.error('Ошибка при преобразовании изображений в base64:', error);
    });

    function switchToCodeView() {
        const html = formatHTML(quill.root.innerHTML);
        const editorContainer = document.getElementById('editor');
        editorContainer.innerHTML = `<textarea class="form-control text-white bg-black border border-0" style="width: 100%; height: auto; overflow:hidden;">${html}</textarea>`;
        quill.enable(false); // Отключаем Quill

        const textarea = editorContainer.querySelector('textarea');
        autoResizeTextarea(textarea);
    }

    function switchToEditorView() {
        const editorContainer = document.getElementById('editor');
        const textarea = editorContainer.querySelector('textarea');
        const html = textarea.value;

        quill.root.innerHTML = cleanHTML(html);
        quill.enable(true); // Включаем Quill
        editorContainer.innerHTML = ''; // Убираем textarea
        editorContainer.appendChild(quill.root); // Добавляем Quill обратно
    }

    function cleanHTML(html) {
        // Удаление пробелов между тегами
        return html.replace(/>\s+</g, '><').trim();
    }

    function formatHTML(html) {
        return html_beautify(html, {
            indent_size: 4,  // Размер отступа (в пробелах)
            preserve_newlines: false, // Не сохранять существующие переводы строк
            max_preserve_newlines: 1  // Максимальное количество сохраненных переводов строк подряд
        });
    }

    function autoResizeTextarea(textarea) {
        textarea.style.height = 'auto';  // Сбрасываем высоту
        textarea.style.height = textarea.scrollHeight + 'px';  // Устанавливаем высоту по содержимому
    }

    function updateAndCheckArticle() {
        let images = quill.root.getElementsByTagName('img');
        let files = [];
        for (let i = 0; i < images.length; i++) {
            let src = images[i].src;
            let match = src.match(/^data:image\/(\w+);base64,/);
            if (match) {
                let type = match[1];
                let data = src.replace(/^data:image\/\w+;base64,/, '');
                let blob = base64ToBlob(data, type);
                files.push(new File([blob], `image${i}.${type}`));
            }
        }

        let links = quill.root.getElementsByTagName('a');
        let urls = [];
        for (let i = 0; i < links.length; i++) {
            let url = links[i].href;
            urls.push(url);
        }

        let quillContent = quill.root.innerHTML;
        let tempDiv = document.createElement('div');
        tempDiv.innerHTML = quillContent;
        let imgTags = tempDiv.getElementsByTagName('img');
        for (let i = 0; i < imgTags.length; i++) {
            imgTags[i].src = '';
            imgTags[i].style.cursor = null;
        }

        let formData = new FormData();
        formData.append('uuid',article.uuid);
        formData.append('title', $('#article-title').val());
        formData.append('notation', $('#article-notation').val());
        formData.append('content', tempDiv.innerHTML);
        formData.append('metaTitle', $('#meta-title').val());
        formData.append('metaDescription', $('#meta-description').val());
        formData.append('metaKeywords', $('#meta-keywords').val());
        for (let i = 0; i < files.length; i++) {
            formData.append(`images[${i}]`, files[i]);
        }
        for (let i = 0; i < urls.length; i++) {
            formData.append(`links[${i}]`, links[i]);
        }
        showSpinner();
        $.ajax({
            url: '/api/article/update',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function (xhr) {
                xhr.setRequestHeader(article_csrf.headerName, article_csrf.token);
            },
            success: function (response) {
                hideSpinner();
                localStorage.setItem('showToast', 'true');
                localStorage.setItem('status', 'success');
                localStorage.setItem('message', response);
                location.reload(true);
            },
            error: function (xhr, status, error) {
                hideSpinner();
                console.error(xhr.responseJSON.message);
                showToast("error", status + ': ' + error)
            }
        });
    }

    async function updateImageSources(content, images) {
        // Преобразование строки HTML в DOM-объект
        let parser = new DOMParser();
        let doc = parser.parseFromString(content, 'text/html');
        // Получение всех изображений
        let imagesElements = doc.getElementsByTagName('img');
        // Изменение атрибутов src
        for (let i = 0; i < imagesElements.length; i++) {
            if (images[i]) {
                let base64Image = await imageToBase64(images[i].imageUrlMd);
                imagesElements[i].src = base64Image;
            }
        }
        // Преобразование DOM-объекта обратно в строку
        let serializer = new XMLSerializer();
        return serializer.serializeToString(doc);
    }

    function imageToBase64(url) {
        return new Promise((resolve, reject) => {
            fetch(url)
                .then(response => response.blob())
                .then(blob => {
                    let reader = new FileReader();
                    reader.onloadend = () => {
                        resolve(reader.result);
                    };
                    reader.onerror = reject;
                    reader.readAsDataURL(blob);
                })
                .catch(reject);
        });
    }

    function base64ToBlob(base64, type) {
        let binaryString = atob(base64);
        let len = binaryString.length;
        let bytes = new Uint8Array(len);
        for (let i = 0; i < len; i++) {
            bytes[i] = binaryString.charCodeAt(i);
        }
        return new Blob([bytes], {type: `image/${type}`});
    }
</script>