<div class="container">
    <div class="row">
        <div id="inner-content" class="col ql-editor">

        </div>
    </div>
</div>

<script th:inline="javascript">
    let article = [[${article}]];

    $(document).ready(function() {
        setupContent();
    });

    function setupContent(){
        document.getElementById('inner-content').innerHTML = article.content;

        let images = document.getElementById('inner-content').getElementsByTagName('img');
        for (let i = 0; i < images.length; i++) {
            images[i].src = article.images[i].imageUrlMd;
        }
    }
</script>