<div class="container">
    <main>
        <div class="container">

            <h2 class="podzagolovok">Интересные места</h2>

            <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 g-4 mb-2 v-otstup-min">

                <div class="col">
                    <div class="card">
                        <a href="sokskiy_karer.html">
                            <img alt="Сокский карьер" class="card-img-top" src="/img/fon-8.png">
                            <div class="card-body">
                                <h5 class="card-title">Сокский карьер</h5>
                                <p class="paragraph_card truncate-text">Заброшенный известковый карьер, находящийся в посёлке Волжский Красноглинского района городского округа Самара, с обширной сетью штолен.</p>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col">
                    <div class="card">
                        <a href="gora_otvajnaya.html">
                            <img alt="Гора Отважная" class="card-img-top" src="/img/fon-2.png">
                            <div class="card-body">
                                <h5 class="card-title">Гора Отважная и гора Шишка</h5>
                                <p class="paragraph_card truncate-text">Две вершины, откуда открывается потрясающий панорамный вид на Жигулёвские горы, Волгу и ГЭС.</p>
                            </div>
                        </a>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <a href="molodeckiy_kurgan.html">
                            <img alt="Молодецкий курган" class="card-img-top" src="/img/fon-7.png">
                            <div class="card-body">
                                <h5 class="card-title">Молодецкий курган</h5>
                                <p class="paragraph_card truncate-text">Молодецкий курган — гора в западной части Жигулёвских гор, находящаяся у слияния рек Уса и Волга, напротив Тольятти.</p>
                            </div>
                        </a>
                    </div>
                </div>


                <div class="col">
                    <div class="card">
                        <a href="vertoletnaya_ploshadka.html">
                            <img alt="Вертолётная площадка" class="card-img-top" src="/img/fon-9.png">
                            <div class="card-body">
                                <h5 class="card-title">Вертолётная площадка в Самаре</h5>
                                <p class="paragraph_card truncate-text">Обновленная вертолетная площадка в самарском поселке Управленческий признана лучшим реализованным проектом общественного пространства в России.</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>


            <div class="container">
                <h1 class="podzagolovok">Путешествуйте по России с BearTrack</h1>
                <p class="paragraph">
                    BearTrack – ваш надежный спутник в мире самостоятельных путешествий и активного отдыха. Наша платформа создана для тех, кто любит природу, приключения и стремится открывать новые горизонты. Мы предлагаем лучшие маршруты, карты и советы, чтобы ваши походы были интересными, безопасными и запоминающимися.
                </p>
                <p class="paragraph">
                    <strong>Маршруты для всех уровней:</strong> Независимо от вашего опыта, вы найдете маршрут по душе – от легких прогулок на выходные до сложных многодневных походов.
                </p>
                <p class="paragraph">
                    <strong>Подробные карты и навигация:</strong> Наши карты помогут вам не заблудиться и наслаждаться путешествием, зная каждый поворот и достопримечательность на пути.
                </p>
                <p class="paragraph">
                    <strong>Попутчики и проводники:</strong> Найдите единомышленников для совместных путешествий или опытных проводников, которые сделают ваш поход еще более увлекательным и безопасным.
                </p>
                <p class="paragraph">
                    <strong>Советы и рекомендации:</strong> Полезные советы по подготовке, снаряжению и поведению в дикой природе, чтобы ваши путешествия были комфортными и безопасными.
                </p>
                <h2 class="podzagolovok">Путешествуйте рядом с домом</h2>
                <p class="paragraph">
                    Не нужно уезжать далеко, чтобы ощутить дух приключений. BearTrack предлагает маршруты в вашем родном регионе, позволяя вам открыть для себя красивые места, о которых вы, возможно, даже не подозревали.
                </p>
                <p class="paragraph">
                    Мы стремимся сделать природу ближе к людям, вдохновлять на активный образ жизни и ответственное отношение к окружающему миру. Присоединяйтесь к сообществу любителей природы и путешествий с BearTrack и открывайте для себя новые маршруты и впечатления.
                </p>
                <h2 class="podzagolovok">Начните свое путешествие с BearTrack</h2>
                <p class="paragraph">
                    Готовы к приключениям? Изучите наши маршруты, загрузите карты и отправляйтесь в путь. Путешествуйте с BearTrack – и пусть каждая тропа ведет к новым открытиям!
                </p>
            </div>
        </div>
    </main>
</div>