<div class="container">
    <main>
        <div class="container">
            <div class="row p-0 m-0">
                <div class="col p-0 m-0">
                    <div id="locations-map" class="locations-map img-thumbnail shadow"></div>
                </div>
            </div>
            <h2 class="pt-3 ps-3 border-bottom border-dark">Интересные места</h2>
            <div id="row-posts" class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4"></div>


            <div class="row mt-4">
                <div class="d-grid col-sm-12 col-md-6 col-md-4 m-auto">
                    <a th:href="@{/location/list(page=0)}" class="btn btn-outline-secondary btn-sm w-100">Другие места</a>
                </div>
            </div>
            <div class="container">
                <h1 class="podzagolovok">Путешествуйте по России с BearTrack</h1>
                <p class="paragraph">
                    BearTrack – ваш надежный спутник в мире самостоятельных путешествий и активного отдыха. Наша платформа создана для тех, кто любит природу, приключения и стремится открывать новые горизонты. Мы предлагаем лучшие маршруты, карты и советы, чтобы ваши походы были интересными, безопасными и запоминающимися.
                </p>
                <p class="paragraph">
                    <strong>Маршруты для всех уровней:</strong> Независимо от вашего опыта, вы найдете маршрут по душе – от легких прогулок на выходные до сложных многодневных походов.
                </p>
                <p class="paragraph">
                    <strong>Подробные карты и навигация:</strong> Наши карты помогут вам не заблудиться и наслаждаться путешествием, зная каждый поворот и достопримечательность на пути.
                </p>
                <p class="paragraph">
                    <strong>Попутчики и проводники:</strong> Найдите единомышленников для совместных путешествий или опытных проводников, которые сделают ваш поход еще более увлекательным и безопасным.
                </p>
                <p class="paragraph">
                    <strong>Советы и рекомендации:</strong> Полезные советы по подготовке, снаряжению и поведению в дикой природе, чтобы ваши путешествия были комфортными и безопасными.
                </p>
                <h2 class="podzagolovok">Путешествуйте рядом с домом</h2>
                <p class="paragraph">
                    Не нужно уезжать далеко, чтобы ощутить дух приключений. BearTrack предлагает маршруты в вашем родном регионе, позволяя вам открыть для себя красивые места, о которых вы, возможно, даже не подозревали.
                </p>
                <p class="paragraph">
                    Мы стремимся сделать природу ближе к людям, вдохновлять на активный образ жизни и ответственное отношение к окружающему миру. Присоединяйтесь к сообществу любителей природы и путешествий с BearTrack и открывайте для себя новые маршруты и впечатления.
                </p>
                <h2 class="podzagolovok">Начните свое путешествие с BearTrack</h2>
                <p class="paragraph">
                    Готовы к приключениям? Изучите наши маршруты, загрузите карты и отправляйтесь в путь. Путешествуйте с BearTrack – и пусть каждая тропа ведет к новым открытиям!
                </p>
            </div>
        </div>
    </main>
</div>

<script th:inline="javascript">
    let posts = [[${posts}]];
    let postRow = $('#row-posts');

    setupPosts(posts);

    function updatePosts(p){
        if(p.length === 0){
            setupPosts(posts);
        }else{
            setupPosts(p);
        }
    }

    function setupPosts(posts){
        postRow.empty();
        let n = 0;
        posts.forEach(function (post) {
            if(n < 8) {
                let carouselId = 'carousel-' + post.uuid;
                let prevId = 'prev-' + post.uuid;
                let nextId = 'next-' + post.uuid;
                let carouselInner = '';
                let active = true;
                post.contentList.forEach(function (block) {
                    if (block.imageUrlSm != null) {
                        let activeClass = active === true ? 'active' : '';
                        active = false;
                        carouselInner += `
                            <div class="carousel-item img-ratio-control size-h-150 ${activeClass}">
                                <img src="${block.imageUrlSm}" class="d-block w-100 rounded-2" alt="${post.title}">
                            </div>
                        `;
                    }
                });
                let postHtml = `
                    <div class="col mt-4">
                        <div class="card zoom-in-light m-auto">
                            <div id="${carouselId}" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    ${carouselInner}
                                </div>
                                <button id="${prevId}" class="carousel-control-prev" type="button" data-bs-target="#${carouselId}" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button id="${nextId}" class="carousel-control-next" type="button" data-bs-target="#${carouselId}" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                            <a href="/location/${post.sef}">
                                <div class="card-body size-h-200">
                                    <p><strong class="text-decoration-none clamp-line-2 card-zag">${post.title}</strong></p>
                                    <p class="card-text text-dark clamp-line-3 text-decoration-none">${post.notation}</p>
                                </div>
                            </a>
                            <div class="card-footer">
                                <span class="text-primary">#</span><span>${post.subjectModel.title}</span>
                            </div>
                        </div>
                    </div>
                `;
                postRow.append(postHtml);
            }
            n++;
        });
    }

    if(navigator.geolocation){
        navigator.geolocation.getCurrentPosition(position => {
            let userLocation = [position.coords.longitude, position.coords.latitude];
            initLocationsMap(userLocation,5);
        }, () => {
            // Если пользователь отклонил запрос на получение местоположения
            initLocationsMap([105.3188, 61.5240], 3); // Центр России
        });
    }else{
        // Если геолокация не поддерживается
        initLocationsMap([105.3188, 61.5240], 3); // Центр России
    }

    async function initLocationsMap(center, zoom) {
        await ymaps3.ready;
        const { YMapComplexEntity, YMap, YMapDefaultSchemeLayer, YMapDefaultFeaturesLayer, YMapFeatureDataSource, YMapLayer, YMapMarker } = ymaps3;
        const { YMapClusterer, clusterByGrid } = await ymaps3.import('@yandex/ymaps3-clusterer@0.0.1');

        class CustomMarkerWithPopup extends YMapComplexEntity {
            constructor(props, post) {
                super(props);
                this._marker = null;
                this._popup = null;
                this._post = post;
            }

            _onAttach() {
                this._createMarker();
            }

            _onDetach() {
                this._marker = null;
            }

            _onUpdate(props) {
                if (props.zIndex !== undefined) {
                    this._marker?.update({ zIndex: props.zIndex });
                }
                if (props.coordinates !== undefined) {
                    this._marker?.update({ coordinates: props.coordinates });
                }
            }

            _createMarker() {
                let imgUrl = '/img/loc/ekotropy.png';
                if (this._post.locationTypeModel) {
                    imgUrl = this._post.locationTypeModel.imageUrl;
                }
                let element = document.createElement('div');
                element.innerHTML = `
                <div class="row p-0 m-0" style="width: 32px; height: 32px; cursor: pointer">
                    <div class="col p-0 m-0" style="overflow: hidden">
                        <img class="img-fluid rounded-circle border border-white border-3" src="${imgUrl}" alt="${this._post.title}" style="object-fit: cover; height: 100%">
                    </div>
                </div>
            `;
                element.className = 'marker';
                element.onclick = () => {
                    this._openPopup();
                };

                this._marker = new YMapMarker({ coordinates: this._props.coordinates }, element);
                this.addChild(this._marker);
            }

            _openPopup() {
                if (this._popup) {
                    return;
                }

                let imageUrl = '';
                this._post.contentList.forEach(function (block) {
                    if (block.imageUrlSm !== null) {
                        imageUrl = block.imageUrlSm;
                    }
                });

                const element = document.createElement('div');

                element.innerHTML = `
                <div class="card position-relative" style="width: 200px; transform: translate(-84px, -200px);">
                    <button id="close-btn-${this._post.uuid}" type="button" class="my_btn-close position-absolute top-0 end-0 m-2" aria-label="Close"></button>
                    <img src="${imageUrl}" class="card-img-top img-ratio-control" alt="${this._post.title}" style="height: 100px">
                    <div class="card-body" style="height: 90px">
                        <div class="row p-0 m-0">
                            <div class="col p-0 m-0">
                                <div class="row">
                                    <a href="/location/${this._post.sef}" class="text-decoration-none text-dark">
                                        <p class="my-font fs-6 clamp-line-2 text-center"><b>${this._post.title}</b></p>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `;

                const zIndex = (this._props.zIndex ?? YMapMarker.defaultProps.zIndex) + 1000;
                this._popup = new YMapMarker({
                    coordinates: this._props.coordinates,
                    zIndex,
                    blockBehaviors: this._props.blockBehaviors
                }, element);
                this.addChild(this._popup);

                const closeButton = element.querySelector(`#close-btn-${this._post.uuid}`);
                closeButton.addEventListener('click', () => this._closePopup());
            }

            _closePopup() {
                if (!this._popup) {
                    return;
                }

                this.removeChild(this._popup);
                this._popup = null;
            }
        }

        const map = new YMap(
            document.getElementById('locations-map'),
            { location: { center: center, zoom: zoom } },
            [
                new YMapDefaultSchemeLayer({}),
                new YMapDefaultFeaturesLayer({}),
                new YMapFeatureDataSource({ id: 'clusterer-source' }),
                new YMapLayer({source: 'clusterer-source', type: 'markers', zIndex: 1400})
            ]
        );

        //console.log("Initializing markers for posts:", posts);

        // Создаем функцию для рендеринга маркеров
        const marker = (feature) => {
            //console.log("Creating marker for feature:", feature);
            return new CustomMarkerWithPopup(
                { coordinates: feature.geometry.coordinates },
                feature.properties.post
            );
        };

        // Создаем функцию для рендеринга кластеров
        const cluster = (coordinates, features) => {
            //console.log("Creating cluster for coordinates:", coordinates, "with features:", features);
            return new YMapMarker(
                { coordinates, source: 'clusterer-source' },
                circle(features.length).cloneNode(true)
            );
        };

        function circle(count) {
            const circle = document.createElement('div');
            circle.classList.add('circle');
            circle.innerHTML = `
                <div class="cluster">
                    <span class="cluster-content">${count}</span>
                </div>
            `;
            return circle;
        }

        // Генерируем features из posts
        const features = posts.map(post => ({
            type: 'Feature',
            id: post.uuid,
            geometry: { type: 'Point', coordinates: [post.longitude, post.latitude] },
            properties: { post }
        }));

        //console.log("Features for clustering:", features);

        const clusterer = new YMapClusterer({
            method: clusterByGrid({ gridSize: 80 }),
            features: features,
            marker: marker,
            cluster: cluster
        });

        map.addChild(clusterer);
    }

    /*async function initLocationsMap(center, zoom){
        await ymaps3.ready;
        const {YMapComplexEntity, YMap, YMapDefaultSchemeLayer, YMapDefaultFeaturesLayer, YMapFeatureDataSource, YMapLayer, YMapMarker} = ymaps3;
        const {YMapClusterer, clusterByGrid} = await ymaps3.import('@yandex/ymaps3-clusterer@0.0.1');

        // Create a custom marker class with a popup
        class CustomMarkerWithPopup extends YMapComplexEntity {
            constructor(props, post) {
                super(props);
                this._marker = null;
                this._popup = null;
                this._post = post;
            }

            _onAttach() {
                this._createMarker();
            }

            _onDetach() {
                this._marker = null;
            }

            _onUpdate(props) {
                if (props.zIndex !== undefined) {
                    this._marker?.update({ zIndex: props.zIndex });
                }
                if (props.coordinates !== undefined) {
                    this._marker?.update({ coordinates: props.coordinates });
                }
            }

            _createMarker() {
                let imgUrl = '/img/loc/ekotropy.png';
                if(this._post.locationTypeModel){
                    imgUrl = this._post.locationTypeModel.imageUrl;
                }
                let element = document.createElement('div');
                element.innerHTML = `
                    <div class="row p-0 m-0" style="width: 32px; height: 32px; cursor: pointer">
                        <div class="col p-0 m-0" style="overflow: hidden">
                            <img class="img-fluid rounded-circle border border-white border-3" src="${imgUrl}" alt="${this._post.title}" style="object-fit: cover; height: 100%">
                        </div>
                    </div>
                `;
                element.className = 'marker';
                element.onclick = () => {
                    this._openPopup();
                };

                this._marker = new YMapMarker({ coordinates: this._props.coordinates }, element);
                this.addChild(this._marker);
            }

            _openPopup() {
                if (this._popup) {
                    return;
                }

                let imageUrl = '';
                this._post.contentList.forEach(function (block){
                    if(block.imageUrlSm !== null){
                        imageUrl = block.imageUrlSm;
                    }
                });

                const element = document.createElement('div');

                element.innerHTML = `
                    <div class="card position-relative" style="width: 200px; transform: translate(-84px, -200px);">
                        <button id="close-btn-${this._post.uuid}" type="button" class="my_btn-close position-absolute top-0 end-0 m-2" aria-label="Close"></button>
                        <img src="${imageUrl}" class="card-img-top img-ratio-control" alt="${this._post.title}" style="height: 100px">
                        <div class="card-body" style="height: 90px">
                            <div class="row p-0 m-0">
                                <div class="col p-0 m-0">
                                    <div class="row">
                                        <a href="/location/${this._post.sef}" class="text-decoration-none text-dark">
                                            <p class="my-font fs-6 clamp-line-2 text-center"><b>${this._post.title}</b></p>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;

                const zIndex = (this._props.zIndex ?? YMapMarker.defaultProps.zIndex) + 1000;
                this._popup = new YMapMarker({
                    coordinates: this._props.coordinates,
                    zIndex,
                    blockBehaviors: this._props.blockBehaviors
                }, element);
                this.addChild(this._popup);

                // Добавление обработчика события для кнопки закрытия
                const closeButton = element.querySelector(`#close-btn-${this._post.uuid}`);
                closeButton.addEventListener('click', () => this._closePopup());
            }

            _closePopup() {
                if (!this._popup) {
                    return;
                }

                this.removeChild(this._popup);
                this._popup = null;
            }
        }

        const map = new YMap(
            document.getElementById('locations-map'),
            {location: {center: center, zoom: zoom}},
            [
                new YMapDefaultSchemeLayer({}),
                new YMapDefaultFeaturesLayer({})
            ]
        );

        posts.forEach(function (post){
            map.addChild(new CustomMarkerWithPopup({coordinates: [post.longitude, post.latitude], popupContent: post.title}, post));
        });
    }*/
</script>