<div class="container">
    <div class="shadow">
        <div class="row mx-0 position-relative">
            <div class="col d-flex">
                <div class="m-auto">
                    <p class="fs-2">Добавление нового места</p>
                </div>
            </div>
        </div>

        <div class="row mx-0 pt-4">
            <div class="col">
                <div class="row">
                    <div class="col border-bottom border-dark">
                        <div class="row">
                            <div class="col-6 d-flex">
                                <div class="mt-auto">
                                    <p class="fs-4 text-dark">Настройка заголовка</p>
                                </div>
                            </div>
                            <div class="col-6 py-2 d-flex">
                                <button class="btn btn-outline-dark ms-auto" onclick="checkAndSend()">Отправить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-auto pt-2">
                    <div class="col-12 col-lg-4">
                        <label class="ms-1 text-dark">Название места</label>
                        <input type="text" id="location-title" class="form-control text-dark">
                        <div class="valid-feedback">
                            <p class="ms-1">Отлично!</p>
                        </div>
                        <div class="invalid-feedback">
                            <p class="ms-1">Не может быть пустым!</p>
                        </div>
                    </div>
                    <div class="col-12 col-lg-2">
                        <label class="ms-1 text-dark">Широта</label>
                        <input type="text" id="location-latitude" class="form-control">
                    </div>
                    <div class="col-12 col-lg-2">
                        <label class="ms-1 text-dark">Долгота</label>
                        <input type="text" id="location-longitude" class="form-control">
                    </div>
                    <div class="col-12 col-lg-4">
                        <label class="ms-1 text-dark">Субъект</label>
                        <select id="location-subject" class="form-select">
                            <option th:each="subject : ${subjects}" th:value="${subject.uuid}" th:text="${subject.title}"></option>
                        </select>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col">
                        <label class="ms-1 text-dark">Короткое вступительное слово</label>
                        <textarea type="text" id="location-notation" class="form-control text-dark"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div id="blocks"></div>

        <div class="row mx-0 py-4">
            <div class="d-grid col-12 col-lg-4 mx-auto">
                <button class="btn btn-outline-dark" type="button" onclick="createNewBlock()">Добавить блок</button>
            </div>
        </div>

        <div class="row mx-0 border-bottom border-dark">
            <p class="fs-4 text-dark">Настройка мета данных</p>
        </div>
        <div class="row mx-0">
            <div class="col">
                <label class="ms-1 text-secondary"><small>Meta title</small></label>
                <input id="meta-title" type="text" class="form-control text-dark">
            </div>
        </div>
        <div class="row mx-0">
            <div class="col">
                <label class="ms-1 text-secondary"><small>Meta description</small></label>
                <input id="meta-description" type="text" class="form-control text-dark">
            </div>
        </div>
        <div class="row mx-0 pb-4">
            <div class="col">
                <label class="ms-1 text-secondary"><small>Meta keywords: </small><small class="text-danger">Указывайте keywords через запятую с пробелом</small></label>
                <input id="meta-keywords" type="text" class="form-control text-dark" oninput="validateKeywords()">
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let types = [[${types}]];
    let lc_csrf = [[${_csrf}]];
    var blockIndex = 0;

    function validateKeywords(){
        /*let keywordInput = document.getElementById('meta-keywords');
        let keywords = $('#meta-keywords').val();
        let parts = keywords.split(', ');

        if(keywords === ''){
            keywordInput.classList.remove('is-invalid');
            keywordInput.classList.remove('is-valid');
            return;
        }

        parts.forEach(function (part){
            if(part.endsWith(',')){
                keywordInput.classList.remove('is-invalid');
                keywordInput.classList.add('is-valid');
            }else{
                keywordInput.classList.remove('is-valid');
                keywordInput.classList.add('is-invalid');
            }
        });*/
    }

    function createNewBlock(){
        let container = $('#blocks');
        container.append(
            '<div id="full-block-' + blockIndex + '">' +
            '<input type="text" id="content-uuid-' + blockIndex + '" hidden>' +
            '<div class="row mx-0 mt-4 pt-2 border-top border-dark">' +
            '   <div class="col">' +
            '       <button id="delete-' + blockIndex + '" type="button" class="btn-close float-end fs-4" aria-label="Close" onclick="deleteBlock(this.id)"></button>' +
            '   </div>' +
            '</div>' +
            '<div class="row mx-0 p-4 pb-5 mb-4 border-bottom border-dark" id="block-' + blockIndex + '">' +
            '   <div class="col-12 col-lg-6 d-flex">' +
            '       <div class="my-auto w-100">' +
            '           <div class="row">' +
            '               <div class="col">' +
            '                   <select class="form-select" id="type-select-' + blockIndex + '" onchange="showPreview(this.id)">' +
            '                   </select>' +
            '               </div>' +
            '           </div>' +
            '           <div class="row pt-2">' +
            '               <div class="col">' +
            '                   <input type="file" accept="image/*" id="file-input-' + blockIndex + '" class="form-control" onchange="showPreview(this.id)">' +
            '               </div>' +
            '           </div>' +
            '           <div class="row pt-2">' +
            '               <div class="col">' +
            '                   <input type="text" id="file-title-input-' + blockIndex + '" class="form-control" placeholder="Подпись под картинкой" oninput="showPreview(this.id)">' +
            '               </div>' +
            '           </div>' +
            '           <div class="row pt-2">' +
            '               <div class="col">' +
            '                   <input type="text" class="form-control" id="content-title-input-' + blockIndex + '" placeholder="Заголовок блока" oninput="showPreview(this.id)" hidden>' +
            '               </div>' +
            '           </div>' +
            '           <div class="row pt-2">' +
            '               <div class="col">' +
            '                   <textarea type="text" class="form-control" id="content-input-' + blockIndex + '" placeholder="Контент блока" oninput="showPreview(this.id)" rows="10%" hidden></textarea>' +
            '               </div>' +
            '           </div>' +
            '       </div>' +
            '   </div>' +
            '   <div id="preview-' + blockIndex + '" class="col-12 col-lg-6 pt-2"></div>' +
            '</div>' +
            '</div>'
        );

        types.forEach(function (type){
            $('#type-select-' + blockIndex).append(
                '<option value="' + type.contentType + '">' + type.information + '</option>'
            );
        });

        blockIndex++;
    }

    function showPreview(inputId) {
        let index = getIndex(inputId);
        let fileInput = document.getElementById('file-input-' + index);
        let fileTitle = document.getElementById('file-title-input-' + index).value;
        let contentTitle = document.getElementById('content-title-input-' + index).value;
        let content = escapeHtml(document.getElementById('content-input-' + index).value);
        let type = document.getElementById('type-select-' + index).value;

        if(type === 'BG_IMAGE'){
            showControl(false,true,true,index);
            if (fileInput.files && fileInput.files[0]) {
                let reader = new FileReader();
                reader.onload = function (image) {
                    previewFullScreenImage(image,fileTitle,index);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        }else if(type === 'BG_IMAGE_CONTENT'){
            showControl(false,true,false,index);
            if (fileInput.files && fileInput.files[0]) {
                let reader = new FileReader();
                reader.onload = function (image) {
                    previewFullScreenImageAndContent(image,fileTitle,content,index);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        }else if(type === 'IMAGE_LEFT_CONTENT'){
            showControl(false,false,false,index);
            if (fileInput.files && fileInput.files[0]) {
                let reader = new FileReader();
                reader.onload = function (image) {
                    previewImageLeftContentRight(image,fileTitle,contentTitle,content,index);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        }else if(type === 'IMAGE_RIGHT_CONTENT'){
            showControl(false,false,false,index);
            if (fileInput.files && fileInput.files[0]) {
                let reader = new FileReader();
                reader.onload = function (image) {
                    previewImageRightContentLeft(image,fileTitle,contentTitle,content,index);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }
        }else if(type === 'CONTENT'){
            showControl(true,false,false,index);
            previewFullScreenContent(contentTitle,content,index);
        }
    }

    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;")
            .replace(/\n/g, "<br>");
    }

    function getIndex(elementId){
        let parts = elementId.split('-');
        return parts[parts.length - 1];
    }

    function showControl(hideFileInput,hideContentTitle, hideContent,index){
        document.getElementById('file-input-' + index).hidden = hideFileInput;
        document.getElementById('file-title-input-' + index).hidden = hideFileInput;
        document.getElementById('content-title-input-' + index).hidden = hideContentTitle;
        document.getElementById('content-input-' + index).hidden = hideContent;
    }

    function previewFullScreenImage(image,imageTitle,index){
        let preview = $('#preview-' + index);
        preview.empty();
        preview.append(
            '<div class="row">' +
            '   <div class="col p-0 d-flex">' +
            '       <img src="' + image.target.result + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '   </div>' +
            '</div>' +
            '<div class="row">' +
            '   <div class="col">' +
            '       <small class="text-left text-secondary">' + imageTitle + '</small>' +
            '   </div>' +
            '</div>'
        );
    }

    function previewFullScreenImageAndContent(image, imageTitle, content, index) {
        let preview = $('#preview-' + index);
        preview.empty();
        preview.append(
            '<div class="row position-relative">' +
            '   <div class="col p-0 d-flex">' +
            '       <img src="' + image.target.result + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '       <div class="position-absolute top-50 start-50 translate-middle text-break">' +
            '           <p class="text-white text-center fs-4"><strong>' + content + '</strong></p>' +
            '       </div>' +
            '   </div>' +
            '</div>' +
            '<div class="row">' +
            '   <div class="col">' +
            '       <small class="text-left text-secondary">' + imageTitle + '</small>' +
            '   </div>' +
            '</div>'
        );
    }

    function previewImageLeftContentRight(image,imageTitle,contentTitle,content,index){
        let preview = $('#preview-' + index);
        preview.empty();
        preview.append(
            '<div class="row">' +
            '   <div class="col">' +
            '       <p class="text-left py-2 text-dark fs-3"><strong>' + contentTitle + '</strong></p>' +
            '   </div>' +
            '</div>' +
            '<div class="row p-0">' +
            '   <div class="col-6 px-0">' +
            '       <div class="img-container">' +
            '           <img src="' + image.target.result + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '       </div>' +
            '       <div class="w-100">' +
            '           <small class="text-left text-dark">' + imageTitle + '</small>' +
            '       </div>' +
            '   </div>' +
            '   <div class="col-6 d-flex">' +
            '       <div class="text-break">' +
            '           <p class="fs-6 pt-2" style="text-indent: 1.2rem">' + content + '</p>' +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function previewImageRightContentLeft(image,imageTitle,contentTitle,content,index){
        let preview = $('#preview-' + index);
        preview.empty();
        preview.append(
            '<div class="row">' +
            '   <div class="col">' +
            '       <p class="text-left py-2 text-dark fs-3"><strong>' + contentTitle + '</strong></p>' +
            '   </div>' +
            '</div>' +
            '<div class="row p-0">' +
            '   <div class="col-6 d-flex">' +
            '       <div class="text-break">' +
            '           <p class="fs-6 pt-2" style="text-indent: 1.2rem">' + content + '</p>' +
            '       </div>' +
            '   </div>' +
            '   <div class="col-6 px-0">' +
            '       <div class="img-container bg-white">' +
            '           <img src="' + image.target.result + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '       </div>' +
            '       <div class="w-100">' +
            '           <small class="text-left text-dark">' + imageTitle + '</small>' +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function previewFullScreenContent(contentTitle,content,index){
        let preview = $('#preview-' + index);
        preview.empty();
        preview.append(
            '<div class="row">' +
            '   <div class="col">' +
            '       <p class="text-left py-2 text-dark fs-3"><strong>' + contentTitle + '</strong></p>' +
            '   </div>' +
            '</div>' +
            '<div class="row">' +
            '   <div class="col d-flex">' +
            '       <div class="m-auto full-block text-break">' +
            '           <p class="fs-4" style="text-indent: 1.2rem">' + content + '</p>' +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function deleteBlock(elementId){
        let index = getIndex(elementId);
        $('#full-block-' + index).remove();
    }

    function checkAndSend() {
        let title = $('#location-title').val();
        let notation = $('#location-notation').val();
        let latitude = $('#location-latitude').val();
        let longitude = $('#location-longitude').val();
        let subject = $('#location-subject').val();
        let metaTitle = $('#meta-title').val();
        let metaDescription = $('#meta-description').val();
        let metaKeywords = $('#meta-keywords').val();
        let blocks = document.querySelectorAll('[id^="block-"]');

        let formData = new FormData();
        formData.append('title', title);
        formData.append('notation', notation);
        formData.append('latitude', latitude);
        formData.append('longitude', longitude);
        formData.append('subject', subject);
        formData.append('metaTitle',metaTitle);
        formData.append('metaDescription', metaDescription);
        formData.append('metaKeywords', metaKeywords);

        blocks.forEach(function (block) {
            let index = block.id.split('-')[1];
            formData.append(`blocks[${index}].position`, index);
            let type = $('#type-select-' + index).val();
            formData.append(`blocks[${index}].type`, type);
            let file = $('#file-input-' + index)[0].files[0];
            if (file) {
                formData.append(`blocks[${index}].image`, file);
            }
            let imageDescription = $('#file-title-input-' + index).val();
            if(imageDescription){
                formData.append(`blocks[${index}].imageDescription`, imageDescription);
            }
            let contentTitle = $('#content-title-input-' + index).val();
            if(contentTitle){
                formData.append(`blocks[${index}].contentTitle`, contentTitle);
            }
            let content = $('#content-input-' + index).val();
            if (content){
                formData.append(`blocks[${index}].content`, content);
            }
        });

        $.ajax({
            url: '/api/location/create',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(lc_csrf.headerName, lc_csrf.token);
            },
            success: function (response) {
                if(response === true){
                    let t = $('#location-title').val();
                    console.log('response:', response);
                    $('#blocks').empty();
                    $('#location-title').val('');
                    $('#location-latitude').val('');
                    $('#location-longitude').val('');
                    $('#location-notation').val('');
                    $('#meta-title').val('');
                    $('#meta-description').val('');
                    $('#meta-keywords').val('');
                    showToast('success','Пост ' + t + ' добавлен');
                }else{
                    showToast("error",'Пока ошибка не определена')
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
                showToast("error", status + ': ' + error)
            }
        });
    }

</script>