<div class="container">
    <div class="shadow">
        <div class="row mx-0 position-relative">
            <div class="col d-flex">
                <div class="m-auto">
                    <p class="text-center fs-2">Редактор</p>
                </div>
            </div>
        </div>

        <div class="row mx-0 pt-4">
            <div class="col">
                <div class="row">
                    <div class="col border-bottom border-dark">
                        <div class="row">
                            <div class="col-6 d-flex">
                                <div class="mt-auto">
                                    <p class="fs-4 text-dark">Настройка заголовка</p>
                                </div>
                            </div>
                            <div class="col-6 py-2 d-flex">
                                <button class="btn btn-outline-dark ms-auto" onclick="checkAndSend()">Обновить</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-cols-auto pt-2">
                    <input type="text" id="post-uuid" th:value="${post.uuid}" hidden>
                    <div class="col-12 col-lg-3">
                        <label class="ms-1 text-dark">Название места</label>
                        <input type="text" id="location-title" class="form-control text-dark">
                        <!--<div class="valid-feedback">
                            <p class="ms-1">Отлично!</p>
                        </div>
                        <div class="invalid-feedback">
                            <p class="ms-1">Не может быть пустым!</p>
                        </div>-->
                    </div>
                    <div class="col-12 col-lg-3">
                        <label class="ms-1 text-dark">Широта и Долгота: <span class="text-danger fs-6">Через запятую</span></label>
                        <input type="text" id="location-latitude-longitude" class="form-control">
                    </div>
                    <div class="col-12 col-lg-3">
                        <label class="ms-1 text-dark">Субъект</label>
                        <select id="location-subject" class="form-select">
                            <option th:each="subject : ${subjects}" th:value="${subject.uuid}" th:text="${subject.title}"></option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-3">
                        <label for="location-type" class="ms-1 text-dark">Тип места</label>
                        <div class="custom-select" id="location-type-select">
                            <select id="location-type" class="form-select">
                                <option th:each="type : ${locationTypes}" th:value="${type.uuid}" th:text="${type.name}" th:data-image="${type.imageUrl}"></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row pt-2">
                    <div class="col">
                        <label class="ms-1 text-dark">Короткое вступительное слово</label>
                        <textarea type="text" id="location-notation" class="form-control text-dark"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div id="blocks"></div>

        <div class="row mx-0 py-4">
            <div class="d-grid col-12 col-lg-4 mx-auto">
                <button class="btn btn-outline-dark" type="button" onclick="createNewBlock()">Добавить блок</button>
            </div>
        </div>

        <div class="row mx-0 border-bottom border-dark">
            <p class="fs-4 text-dark">Настройка мета данных</p>
        </div>
        <div class="row mx-0">
            <div class="col">
                <label class="ms-1 text-secondary"><small>Meta title</small></label>
                <input id="meta-title" type="text" class="form-control text-dark">
            </div>
        </div>
        <div class="row mx-0">
            <div class="col">
                <label class="ms-1 text-secondary"><small>Meta description</small></label>
                <input id="meta-description" type="text" class="form-control text-dark">
            </div>
        </div>
        <div class="row mx-0 pb-4">
            <div class="col">
                <label class="ms-1 text-secondary"><small>Meta keywords: </small><small class="text-danger">Указывайте keywords через запятую с пробелом</small></label>
                <input id="meta-keywords" type="text" class="form-control text-dark" oninput="validateKeywords()">
            </div>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let types = [[${types}]];
    let post = [[${post}]];
    let lc_csrf = [[${_csrf}]];
    var blockIndex = 0;

    setupPost();

    function setupPost(){
        $('#location-title').val(post.title);
        $('#location-latitude-longitude').val(post.latitude + ', ' + post.longitude);
        document.getElementById('location-subject').value = post.subject;
        $('#location-notation').val(post.notation);
        $('#meta-title').val(post.metaTitle);
        $('#meta-description').val(post.metaDescription);
        $('#meta-keywords').val(post.keywords);
        //fillBlocks();
    }

    function fillBlocks(){
        post.contentList.forEach(function (block){
            let currentIndex = blockIndex;
            createNewBlock();
            $('#content-uuid-' + currentIndex).val(block.uuid);
            $('#type-select-' + currentIndex).val(block.contentType);
            if(block.contentTitle){
                $('#content-title-input-' + currentIndex).val(block.contentTitle);
            }
            if(block.content){
                $('#content-input-' + currentIndex).val(block.content);
            }
            if(block.imageDescription){
                $('#file-title-input-' + currentIndex).val(block.imageDescription);
            }
            setupPreview(block.contentType, currentIndex, block.imageUrlMd);
        });
    }

    function validateKeywords(){
        /*let keywordInput = document.getElementById('meta-keywords');
        let keywords = $('#meta-keywords').val();
        let parts = keywords.split(', ');

        if(keywords === ''){
            keywordInput.classList.remove('is-invalid');
            keywordInput.classList.remove('is-valid');
            return;
        }

        parts.forEach(function (part){
            if(part.endsWith(',')){
                keywordInput.classList.remove('is-invalid');
                keywordInput.classList.add('is-valid');
            }else{
                keywordInput.classList.remove('is-valid');
                keywordInput.classList.add('is-invalid');
            }
        });*/
    }

    function createNewBlock(){
        let container = $('#blocks');
        container.append(
            '<div id="full-block-' + blockIndex + '">' +
            '<input type="text" id="content-uuid-' + blockIndex + '" hidden>' +
            '<div class="row mx-0 mt-4 pt-2 border-top border-dark">' +
            '   <div class="col">' +
            '       <button id="delete-' + blockIndex + '" type="button" class="btn-close float-end fs-4" aria-label="Close" onclick="deleteBlock(this.id)"></button>' +
            '   </div>' +
            '</div>' +
            '<div class="row mx-0 p-4 pb-5 mb-4 border-bottom border-dark" id="block-' + blockIndex + '">' +
            '   <div class="col-12 col-lg-6 d-flex">' +
            '       <div class="my-auto w-100">' +
            '           <div class="row">' +
            '               <div class="col">' +
            '                   <select class="form-select" id="type-select-' + blockIndex + '" onchange="showPreview(this.id)">' +
            '                   </select>' +
            '               </div>' +
            '           </div>' +
            '           <div class="row pt-2">' +
            '               <div class="col">' +
            '                   <input type="file" accept="image/*" id="file-input-' + blockIndex + '" class="form-control" onchange="showPreview(this.id)">' +
            '               </div>' +
            '           </div>' +
            '           <div class="row pt-2">' +
            '               <div class="col">' +
            '                   <input type="text" id="file-title-input-' + blockIndex + '" class="form-control" placeholder="Подпись под картинкой" oninput="showPreview(this.id)">' +
            '               </div>' +
            '           </div>' +
            '           <div class="row pt-2">' +
            '               <div class="col">' +
            '                   <input type="text" class="form-control" id="content-title-input-' + blockIndex + '" placeholder="Заголовок блока" oninput="showPreview(this.id)" hidden>' +
            '               </div>' +
            '           </div>' +
            '           <div class="row pt-2">' +
            '               <div class="col">' +
            '                   <textarea type="text" class="form-control" id="content-input-' + blockIndex + '" placeholder="Контент блока" oninput="showPreview(this.id)" rows="10%" hidden></textarea>' +
            '               </div>' +
            '           </div>' +
            '       </div>' +
            '   </div>' +
            '   <div id="preview-' + blockIndex + '" class="col-12 col-lg-6 pt-2"></div>' +
            '</div>' +
            '</div>'
        );

        types.forEach(function (type){
            $('#type-select-' + blockIndex).append(
                '<option value="' + type.contentType + '">' + type.information + '</option>'
            );
        });

        blockIndex++;
    }

    function setupPreview(type, index, image) {
        let fileTitle = document.getElementById('file-title-input-' + index).value;
        let contentTitle = document.getElementById('content-title-input-' + index).value;
        let content = escapeHtml(document.getElementById('content-input-' + index).value);

        if(type === 'BG_IMAGE'){
            showControl(false,true,true,index);
            previewFullScreenImage(image,fileTitle,index);
        }else if(type === 'BG_IMAGE_CONTENT'){
            showControl(false,true,false,index);
            previewFullScreenImageAndContent(image,fileTitle,content,index);
        }else if(type === 'IMAGE_LEFT_CONTENT'){
            showControl(false,false,false,index);
            previewImageLeftContentRight(image,fileTitle,contentTitle,content,index);
        }else if(type === 'IMAGE_RIGHT_CONTENT'){
            showControl(false,false,false,index);
            previewImageRightContentLeft(image,fileTitle,contentTitle,content,index);
        }else if(type === 'CONTENT'){
            showControl(true,false,false,index);
            previewFullScreenContent(contentTitle,content,index);
        }
    }

    function showPreview(inputId) {
        let index = getIndex(inputId);
        let fileInput = document.getElementById('file-input-' + index);
        let fileTitle = document.getElementById('file-title-input-' + index).value;
        let contentTitle = document.getElementById('content-title-input-' + index).value;
        let content = escapeHtml(document.getElementById('content-input-' + index).value);
        let type = document.getElementById('type-select-' + index).value;

        if(type === 'BG_IMAGE'){
            showControl(false,true,true,index);
            if (fileInput.files && fileInput.files[0]) {
                let reader = new FileReader();
                reader.onload = function (image) {
                    previewFullScreenImage(image.target.result,fileTitle,index);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }else{
                previewFullScreenImage(post.contentList[index].imageUrlMd,fileTitle,index);
            }
        }else if(type === 'BG_IMAGE_CONTENT'){
            showControl(false,true,false,index);
            if (fileInput.files && fileInput.files[0]) {
                let reader = new FileReader();
                reader.onload = function (image) {
                    previewFullScreenImageAndContent(image.target.result,fileTitle,content,index);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }else{
                previewFullScreenImageAndContent(post.contentList[index].imageUrlMd,fileTitle,content,index);
            }
        }else if(type === 'IMAGE_LEFT_CONTENT'){
            showControl(false,false,false,index);
            if (fileInput.files && fileInput.files[0]) {
                let reader = new FileReader();
                reader.onload = function (image) {
                    previewImageLeftContentRight(image.target.result,fileTitle,contentTitle,content,index);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }else{
                previewImageLeftContentRight(post.contentList[index].imageUrlMd,fileTitle,contentTitle,content,index);
            }
        }else if(type === 'IMAGE_RIGHT_CONTENT'){
            showControl(false,false,false,index);
            if (fileInput.files && fileInput.files[0]) {
                let reader = new FileReader();
                reader.onload = function (image) {
                    previewImageRightContentLeft(image.target.result,fileTitle,contentTitle,content,index);
                }
                reader.readAsDataURL(fileInput.files[0]);
            }else{
                previewImageRightContentLeft(post.contentList[index].imageUrlMd,fileTitle,contentTitle,content,index);
            }
        }else if(type === 'CONTENT'){
            showControl(true,false,false,index);
            previewFullScreenContent(contentTitle,content,index);
        }
    }

    function escapeHtml(unsafe) {
        return unsafe
            .replace(/&/g, "&amp;")
            .replace(/</g, "&lt;")
            .replace(/>/g, "&gt;")
            .replace(/"/g, "&quot;")
            .replace(/'/g, "&#039;")
            .replace(/\n/g, "<br>");
    }

    function getIndex(elementId){
        let parts = elementId.split('-');
        return parts[parts.length - 1];
    }

    function showControl(hideFileInput,hideContentTitle, hideContent,index){
        document.getElementById('file-input-' + index).hidden = hideFileInput;
        document.getElementById('file-title-input-' + index).hidden = hideFileInput;
        document.getElementById('content-title-input-' + index).hidden = hideContentTitle;
        document.getElementById('content-input-' + index).hidden = hideContent;
    }

    function previewFullScreenImage(image,imageTitle,index){
        let preview = $('#preview-' + index);
        preview.empty();
        preview.append(
            '<div class="row">' +
            '   <div class="col p-0 d-flex">' +
            '       <img src="' + image + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '   </div>' +
            '</div>' +
            '<div class="row">' +
            '   <div class="col">' +
            '       <small class="text-left text-secondary">' + imageTitle + '</small>' +
            '   </div>' +
            '</div>'
        );
    }

    function previewFullScreenImageAndContent(image, imageTitle, content, index) {
        let preview = $('#preview-' + index);
        preview.empty();
        preview.append(
            '<div class="row position-relative">' +
            '   <div class="col p-0 d-flex">' +
            '       <img src="' + image + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '       <div class="position-absolute top-50 start-50 translate-middle text-break">' +
            '           <p class="text-white text-center fs-4"><strong>' + content + '</strong></p>' +
            '       </div>' +
            '   </div>' +
            '</div>' +
            '<div class="row">' +
            '   <div class="col">' +
            '       <small class="text-left text-secondary">' + imageTitle + '</small>' +
            '   </div>' +
            '</div>'
        );
    }

    function previewImageLeftContentRight(image,imageTitle,contentTitle,content,index){
        let preview = $('#preview-' + index);
        preview.empty();
        preview.append(
            '<div class="row">' +
            '   <div class="col">' +
            '       <p class="text-left py-2 text-dark fs-3"><strong>' + contentTitle + '</strong></p>' +
            '   </div>' +
            '</div>' +
            '<div class="row p-0">' +
            '   <div class="col-6 px-0">' +
            '       <div class="img-container">' +
            '           <img src="' + image + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '       </div>' +
            '       <div class="w-100">' +
            '           <small class="text-left text-dark">' + imageTitle + '</small>' +
            '       </div>' +
            '   </div>' +
            '   <div class="col-6 d-flex">' +
            '       <div class="text-break">' +
            '           <p class="fs-6 pt-2" style="text-indent: 1.2rem">' + content + '</p>' +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function previewImageRightContentLeft(image,imageTitle,contentTitle,content,index){
        let preview = $('#preview-' + index);
        preview.empty();
        preview.append(
            '<div class="row">' +
            '   <div class="col">' +
            '       <p class="text-left py-2 text-dark fs-3"><strong>' + contentTitle + '</strong></p>' +
            '   </div>' +
            '</div>' +
            '<div class="row p-0">' +
            '   <div class="col-6 d-flex">' +
            '       <div class="text-break">' +
            '           <p class="fs-6 pt-2" style="text-indent: 1.2rem">' + content + '</p>' +
            '       </div>' +
            '   </div>' +
            '   <div class="col-6 px-0">' +
            '       <div class="img-container bg-white">' +
            '           <img src="' + image + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '       </div>' +
            '       <div class="w-100">' +
            '           <small class="text-left text-dark">' + imageTitle + '</small>' +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function previewFullScreenContent(contentTitle,content,index){
        let preview = $('#preview-' + index);
        preview.empty();
        preview.append(
            '<div class="row">' +
            '   <div class="col">' +
            '       <p class="text-left py-2 text-dark fs-3"><strong>' + contentTitle + '</strong></p>' +
            '   </div>' +
            '</div>' +
            '<div class="row">' +
            '   <div class="col d-flex">' +
            '       <div class="m-auto full-block text-break">' +
            '           <p class="fs-4" style="text-indent: 1.2rem">' + content + '</p>' +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function deleteBlock(elementId){
        let index = getIndex(elementId);
        $('#full-block-' + index).remove();
    }

    function checkAndSend() {
        let locationUuid = $('#post-uuid').val();
        let title = $('#location-title').val();
        let notation = $('#location-notation').val();
        let lat_long = $('#location-latitude-longitude').val();
        let ll_parts = lat_long.split(',');
        let latitude = ll_parts[0].trim();
        let longitude = ll_parts[1].trim();
        let subject = $('#location-subject').val();
        let locationType = $('#location-type').val();
        let metaTitle = $('#meta-title').val();
        let metaDescription = $('#meta-description').val();
        let metaKeywords = $('#meta-keywords').val();
        let blocks = document.querySelectorAll('[id^="block-"]');

        let formData = new FormData();
        formData.append('uuid', locationUuid);
        formData.append('title', title);
        formData.append('notation', notation);
        formData.append('latitude', latitude);
        formData.append('longitude', longitude);
        formData.append('subject', subject);
        formData.append('locationType', locationType);
        formData.append('metaTitle',metaTitle);
        formData.append('metaDescription', metaDescription);
        formData.append('metaKeywords', metaKeywords);

        blocks.forEach(function (block) {
            let index = block.id.split('-')[1];
            formData.append(`blocks[${index}].position`, index);
            let type = $('#type-select-' + index).val();
            formData.append(`blocks[${index}].type`, type);
            let uuid = $('#content-uuid-' + index).val();
            if(uuid){
                formData.append(`blocks[${index}].uuid`,uuid);
            }
            let file = $('#file-input-' + index)[0];
            if (file) {
                file = $('#file-input-' + index)[0].files[0];
                if(file){
                    formData.append(`blocks[${index}].image`, file);
                }
            }
            let imageDescription = $('#file-title-input-' + index).val();
            if(imageDescription){
                formData.append(`blocks[${index}].imageDescription`, imageDescription);
            }
            let contentTitle = $('#content-title-input-' + index).val();
            if(contentTitle){
                formData.append(`blocks[${index}].contentTitle`, contentTitle);
            }
            let content = $('#content-input-' + index).val();
            if (content){
                formData.append(`blocks[${index}].content`, content);
            }
        });

        $.ajax({
            url: '/api/location/update',
            type: 'post',
            data: formData,
            processData: false,
            contentType: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(lc_csrf.headerName, lc_csrf.token);
            },
            success: function (response) {
                if(response === true){
                    console.log('response:', response);
                    showToast('success','Обновление прошло успешно!');
                }else{
                    console.log('response:', response);
                    showToast('error','Пока ошибка не определена');
                }
            },
            error: function (xhr, status, error) {
                console.error(status,error);
                showToast("error", xhr.responseJSON.message)
            }
        });
    }

    const selectElement = document.getElementById('location-type');
    const customSelect = document.getElementById('location-type-select');

    const selectBox = document.createElement('div');
    selectBox.className = 'select-selected';
    customSelect.appendChild(selectBox);

    const optionsList = document.createElement('div');
    optionsList.className = 'select-items select-hide';
    customSelect.appendChild(optionsList);

    function createCustomOption(option) {
        const customOption = document.createElement('div');
        customOption.className = 'custom-option';
        const img = document.createElement('img');
        img.src = option.getAttribute('data-image');
        const text = document.createTextNode(option.textContent);
        customOption.appendChild(img);
        customOption.appendChild(text);
        customOption.addEventListener('click', function() {
            selectBox.innerHTML = '';
            const selectedImg = document.createElement('img');
            selectedImg.src = img.src;
            selectBox.appendChild(selectedImg);
            selectBox.appendChild(document.createTextNode(option.textContent));
            selectElement.value = option.value;
            closeAllSelect(customOption);
        });
        return customOption;
    }

    Array.from(selectElement.options).forEach(option => {
        const customOption = createCustomOption(option);
        optionsList.appendChild(customOption);
    });

    selectBox.addEventListener('click', function() {
        optionsList.classList.toggle('select-hide');
        selectBox.classList.toggle('select-arrow-active');
    });

    function closeAllSelect(elmnt) {
        const selectItems = document.getElementsByClassName('select-items');
        const selectSelected = document.getElementsByClassName('select-selected');
        for (let i = 0; i < selectSelected.length; i++) {
            if (elmnt !== selectSelected[i]) {
                selectSelected[i].classList.remove('select-arrow-active');
            }
        }
        for (let i = 0; i < selectItems.length; i++) {
            if (elmnt !== selectItems[i]) {
                selectItems[i].classList.add('select-hide');
            }
        }
    }

    document.addEventListener('click', function(e) {
        if (!customSelect.contains(e.target)) {
            closeAllSelect();
        }
    });

    // Set initial selected option
    const initialSelectedOption = selectElement.options[selectElement.selectedIndex];
    const initialImg = document.createElement('img');
    initialImg.src = initialSelectedOption.getAttribute('data-image');
    selectBox.appendChild(initialImg);
    selectBox.appendChild(document.createTextNode(initialSelectedOption.textContent));

    let locationType = post.locationType;

    if(locationType){
        const optionToSelect = Array.from(selectElement.options).find(option => option.value === locationType);
        if (optionToSelect) {
            selectBox.innerHTML = '';
            const selectedImg = document.createElement('img');
            selectedImg.src = optionToSelect.getAttribute('data-image');
            selectBox.appendChild(selectedImg);
            selectBox.appendChild(document.createTextNode(optionToSelect.textContent));
            selectElement.value = optionToSelect.value;
        }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
        const types = document.getElementById('blocks');
        fillBlocks();

        // Инициализация Sortable.js
        new Sortable(types, {
            animation: 150,
            ghostClass: 'sortable-ghost',
            onEnd: function(){
                let blocks = document.querySelectorAll('[id^="full-block-"]');
                let n = 0;
                blocks.forEach(function (block){
                    block.setAttribute('id', 'full-block-' + n);
                    let inputUuid = block.querySelector('[id*="content-uuid-"]');
                    inputUuid.setAttribute('id','content-uuid-' + n);
                    let deleteBtn = block.querySelector('[id*="delete-"]');
                    deleteBtn.setAttribute('id','delete-' + n);
                    let innerBlock = block.querySelector('[id*="block-"]');
                    innerBlock.setAttribute('id', 'block-' + n);
                    let typeSelect = block.querySelector('[id*="type-select-"]');
                    typeSelect.setAttribute('id','type-select-' + n);
                    let fileInput = block.querySelector('[id*="file-input-"]');
                    fileInput.setAttribute('id','file-input-' + n);
                    let fileTitleInput = block.querySelector('[id*="file-title-input-"]');
                    fileTitleInput.setAttribute('id','file-title-input-' + n);
                    let contentTitleInput = block.querySelector('[id*="content-title-input-"]');
                    contentTitleInput.setAttribute('id','content-title-input-' + n);
                    let contentInput = block.querySelector('[id*="content-input-"]');
                    contentInput.setAttribute('id','content-input-' + n);
                    let preview = block.querySelector('[id*="preview-"]');
                    preview.setAttribute('id','preview-' + n);
                    n++;
                });
                blockIndex = blocks.length;
            }
        });
    });

</script>