<div class="container">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4">
        <div class="col">
            <div class="card m-auto" th:each="post, post_stat : ${posts}">
                <div th:id="'carousel-' + ${post_stat.index}" class="carousel slide">
                    <div class="carousel-inner">
                        <div class="carousel-item img-ratio-control size-150-px" th:each="block : ${post.contentList}" th:if="${block.imageUrlSm} != null">
                            <img th:src="${block.imageUrlSm}" class="d-block w-100 rounded-2" alt="img">
                        </div>
                        <script>
                            let itemList = document.querySelector('.carousel-item');
                            itemList.classList.add('active');
                        </script>
                    </div>
                    <button th:id="'prev-' + ${post_stat.index}" class="carousel-control-prev" type="button" data-bs-target="#carousel-" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <script th:inline="javascript">
                        document.getElementById('prev-' + [[${post_stat.index}]]).setAttribute('data-bs-target','#carousel-' + [[${post_stat.index}]])
                    </script>
                    <button th:id="'next-' + ${post_stat.index}" class="carousel-control-next" type="button" data-bs-target="#carousel-" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    <script th:inline="javascript">
                        document.getElementById('next-' + [[${post_stat.index}]]).setAttribute('data-bs-target','#carousel-' + [[${post_stat.index}]])
                    </script>
                </div>
                <a th:href="@{/location/{sef}(sef=${post.sef})}">
                    <div class="card-body size-200-px">
                        <p><strong class="text-decoration-none text-danger" th:text="${post.title}"></strong></p>
                        <p class="card-text text-dark text-decoration-none" th:text="${post.notation}"></p>
                    </div>
                </a>
                <div class="card-footer">
                    <span class="text-danger">#</span><span th:text="${post.subjectModel.title}"></span>
                </div>
            </div>
        </div>
    </div>
</div>