<div class="container">
    <div id="row-posts" class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-4"></div>
    <div class="row py-3">
        <div class="col d-flex">
            <nav class="m-auto">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" th:href="@{/location/list(page=0)}">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/location/list(page=${page - 1})}"><i class="icon feather icon-arrow-left"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/location/list(page=${page - 2})}" th:if="${page - 2 >= 0}" th:text="${page - 1}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/location/list(page=${page - 1})}" th:if="${page - 1 >= 0}" th:text="${page}"></a>
                    </li>
                    <li class="page-item active">
                        <a class="page-link disabled" href="#" th:text="${page + 1}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/location/list(page=${page + 1})}" th:if="${page + 1} <= ${lastPage}" th:text="${page + 2}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/location/list(page=${page + 2})}" th:if="${page + 2} <= ${lastPage}" th:text="${page + 3}"></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/location/list(page=${page + 1})}"><i class="icon feather icon-arrow-right"></i></a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" th:href="@{/location/list(page=${lastPage})}">Last</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<script th:inline="javascript">
    let posts = [[${posts}]];
    let postRow = $('#row-posts');
    posts.forEach(function (post) {
        let carouselId = 'carousel-' + post.uuid;
        let prevId = 'prev-' + post.uuid;
        let nextId = 'next-' + post.uuid;
        let carouselInner = '';
        let active = true;
        post.contentList.forEach(function (block) {
            if (block.imageUrlSm != null) {
                let activeClass = active === true ? 'active' : '';
                active = false;
                carouselInner += `
                    <div class="carousel-item img-ratio-control size-h-150 ${activeClass}">
                        <img src="${block.imageUrlSm}" class="d-block w-100 rounded-2" alt="${post.title}">
                    </div>
                `;
            }
        });
        let postHtml = `
            <div class="col mt-4">
                <div class="card zoom-in-light m-auto">
                    <div id="${carouselId}" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            ${carouselInner}
                        </div>
                        <button id="${prevId}" class="carousel-control-prev" type="button" data-bs-target="#${carouselId}" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button id="${nextId}" class="carousel-control-next" type="button" data-bs-target="#${carouselId}" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <a href="/location/${post.sef}">
                        <div class="card-body size-h-200">
                            <p><strong class="text-decoration-none clamp-line-2 card-zag">${post.title}</strong></p>
                            <p class="card-text text-dark clamp-line-3 text-decoration-none">${post.notation}</p>
                        </div>
                    </a>
                    <div class="card-footer">
                        <span class="text-primary">#</span><span>${post.subjectModel.title}</span>
                    </div>
                </div>
            </div>
        `;
        postRow.append(postHtml);
    });
</script>