<div class="container">
    <div class="row">
        <div class="col border-bottom border-dark">
            <h1 class="display-3 block-text-title" th:text="${post.title}"></h1>
            <p class="fs-4 block-text-anons-size" th:text="${post.notation}"></p>
        </div>
    </div>
    <div id="blocks"></div>
</div>

<script th:inline="javascript">
    let post = [[${post}]];
    let blocks = post.contentList;
    setupMap();
    blocks.forEach(function (block){
        let type = block.contentType;
        if(type === 'BG_IMAGE'){
            bgImage(block);
        }else if(type === 'BG_IMAGE_CONTENT'){
            bgImageContent(block);
        }else if(type === 'IMAGE_LEFT_CONTENT'){
            imageLeftContent(block);
        }else if(type === 'IMAGE_RIGHT_CONTENT'){
            imageRightContent(block);
        }else if(type === 'CONTENT'){
            contentOnly(block);
        }
    });

    function bgImage(block){
        $('#blocks').append(
            '<div class="row pt-4">' +
            '   <div class="col p-0 img-container img-height-40vh d-flex">' +
            '       <img src="' + block.imageUrlLg + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '   </div>' +
            '</div>' +
            '<div class="row">' +
            '   <div class="col">' +
            '       <small class="text-secondary">' + (block.imageDescription === null ? "" : block.imageDescription) + '</small>' +
            '   </div>' +
            '</div>'
        );
    }

    function bgImageContent(block){
        $('#blocks').append(
            '<div class="row position-relative pt-4">' +
            '   <div class="col p-0 img-container img-height-40vh d-flex">' +
            '       <img src="' + block.imageUrlLg + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '       <div class="position-absolute top-50 start-50 translate-middle text-break">' +
            '           <p class="text-white text-center fs-2 block-text-size"><strong>' + block.content + '</strong></p>' +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function imageLeftContent(block){

        // Разделяем контент на строки
        let lines = block.content.split('\n');

        // Создаем контейнер для новых параграфов
        let contentHtml = lines.map(line => `<p class="block-text-size">${line}</p>`).join('');

        $('#blocks').append(
            '<div class="row pt-4">' +
            '   <div class="col">' +
            '       <p class="fs-2 block-text-title text-dark">' + (block.contentTitle === null ? "" : block.contentTitle) + '</p>' +
            '   </div>' +
            '</div>' +
            '<div class="row p-0 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">' +
            '   <div class="col px-0">' +
            '       <div class="img-container">' +
            '           <img src="' + block.imageUrlMd + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '       </div>' +
            '       <div class="w-100">' +
            '           <small class="text-secondary">' + (block.imageDescription === null ? "" : block.imageDescription) + '</small>' +
            '       </div>' +
            '   </div>' +
            '   <div class="col d-flex mt-2">' +
            '       <div class="content-block text-break">' +
                        contentHtml +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function imageRightContent(block){

        // Разделяем контент на строки
        let lines = block.content.split('\n');

        // Создаем контейнер для новых параграфов
        let contentHtml = lines.map(line => `<p class="block-text-size">${line}</p>`).join('');

        $('#blocks').append(
            '<div class="row pt-4">' +
            '   <div class="col">' +
            '       <p class="fs-2 block-text-title text-dark">' + (block.contentTitle === null ? "" : block.contentTitle) + '</p>' +
            '   </div>' +
            '</div>' +
            '<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-2 p-0 pt-4">' +
            '   <div class="col d-flex">' +
            '       <div class="content-block text-break">' +
                        contentHtml +
            '       </div>' +
            '   </div>' +
            '   <div class="col px-0">' +
            '       <div class="img-container">' +
            '           <img src="' + block.imageUrlMd + '" class="img-fluid img-thumbnail img-ratio-control" alt="Preview">' +
            '       </div>' +
            '       <div class="w-100">' +
            '           <small class="text-secondary">' + (block.imageDescription === null ? "" : block.imageDescription) + '</small>' +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function contentOnly(block){

        // Разделяем контент на строки
        let lines = block.content.split('\n');

        // Создаем контейнер для новых параграфов
        let contentHtml = lines.map(line => `<p class="block-text-size">${line}</p>`).join('');

        // Добавляем контейнер в DOM
        $('#blocks').append(
            '<div class="row pt-4">' +
            '   <div class="col">' +
            '       <p class="fs-2 block-text-title text-dark">' + (block.contentTitle === null ? "" : block.contentTitle) + '</p>' +
            '   </div>' +
            '</div>' +
            '<div class="row">' +
            '   <div class="col d-flex">' +
            '       <div class="m-auto content-block text-break">' +
                        contentHtml +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function setupMap(){
        $('#blocks').append(
            '<div class="row border-bottom border-dark">' +
            '   <div class="col px-0">' +
            '       <div id="map" style="width: 100%; height: 300px"></div>' +
            '   </div>' +
            '</div>'
        );
        initMap();
    }

    async function initMap(){
        await ymaps3.ready;

        const {YMap, YMapDefaultSchemeLayer,YMapDefaultFeaturesLayer} = ymaps3;
        const {YMapDefaultMarker} = await ymaps3.import('@yandex/ymaps3-markers@0.0.1');

        const map = new YMap(
            document.getElementById('map'),
            {location: {center: [post.longitude, post.latitude], zoom: 14}},
            [
                new YMapDefaultSchemeLayer({}),
                new YMapDefaultFeaturesLayer({})
            ]
        );

        let subtitle = post.latitude + ', ' + post.longitude;

        const markerSource = {
            coordinates: [post.longitude, post.latitude],
            color: '#01BBEA',
            title: post.title,
            subtitle: subtitle
        }

        const marker = new YMapDefaultMarker(markerSource);

        map.addChild(marker);
    }
</script>