<div class="container">
    <div class="row">
        <div class="col mb-3">
            <h1 class="display-3 block-text-title" th:text="${post.title}"></h1>
            <p class="fs-4 block-text-anons-size" th:text="${post.notation}"></p>
        </div>
    </div>
    <div id="blocks"></div>
    <div id="image-viewer"></div>
    <div class="row pt-3 g-1" id="social-share"></div>
</div>

<script th:inline="javascript">
    let post = [[${post}]];
    let nearestLocations = [[${nearestLocations}]];
    nearestLocations.push(post);
    console.log(nearestLocations);
    let blocks = post.contentList;
    setupMap();
    blocks.forEach(function (block){
        let type = block.contentType;
        if(type === 'BG_IMAGE'){
            bgImage(block);
        }else if(type === 'BG_IMAGE_CONTENT'){
            bgImageContent(block);
        }else if(type === 'IMAGE_LEFT_CONTENT'){
            imageLeftContent(block);
        }else if(type === 'IMAGE_RIGHT_CONTENT'){
            imageRightContent(block);
        }else if(type === 'CONTENT'){
            contentOnly(block);
        }
    });
    setupSocialShare();

    function bgImage(block){
        $('#blocks').append(
            '<div class="row pt-4">' +
            '   <div class="col p-0 img-container img-height-40vh d-flex shadow">' +
            '       <img src="' + block.imageUrlLg + '" class="img-fluid img-thumbnail img-ratio-control" alt="' + post.title + '" style="cursor: pointer" onclick="showImage(\'' + block.imageUrlLg + '\', \'' + post.title + '\')">' +
            '   </div>' +
            '</div>' +
            '<div class="row">' +
            '   <div class="col">' +
            '       <small class="text-secondary">' + (block.imageDescription === null ? "" : block.imageDescription) + '</small>' +
            '   </div>' +
            '</div>'
        );
    }

    function bgImageContent(block){
        $('#blocks').append(
            '<div class="row position-relative pt-4">' +
            '   <div class="col p-0 img-container img-height-40vh d-flex shadow">' +
            '       <img src="' + block.imageUrlLg + '" class="img-fluid img-thumbnail img-ratio-control" alt="' + post.title + '" style="cursor: pointer" onclick="showImage(\'' + block.imageUrlLg + '\', \'' + post.title + '\')">' +
            '       <div class="position-absolute top-50 start-50 translate-middle text-break">' +
            '           <p class="text-white my-font text-center fs-2 block-text-size"><strong>' + (block.content === null ? "" : block.content)  + '</strong></p>' +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function imageLeftContent(block){
        let contentHtml = '';
        if(block.content !== null){
            // Разделяем контент на строки
            let lines = block.content.split('\n');

            // Создаем контейнер для новых параграфов
            contentHtml = lines.map(line => `<p class="block-text-size">${line}</p>`).join('');
        }

        $('#blocks').append(
            '<div class="row pt-4">' +
            '   <div class="col">' +
            '       <p class="fs-2 block-text-title text-dark">' + (block.contentTitle === null ? "" : block.contentTitle) + '</p>' +
            '   </div>' +
            '</div>' +
            '<div class="row p-0 row-cols-sm-1 row-cols-md-2 row-cols-lg-2">' +
            '   <div class="col px-0">' +
            '       <div class="img-container shadow">' +
            '           <img src="' + block.imageUrlMd + '" class="img-fluid img-thumbnail img-ratio-control" alt="' + post.title + '" style="cursor: pointer" onclick="showImage(\'' + block.imageUrlLg + '\', \'' + post.title + '\')">' +
            '       </div>' +
            '       <div class="w-100">' +
            '           <small class="text-secondary">' + (block.imageDescription === null ? "" : block.imageDescription) + '</small>' +
            '       </div>' +
            '   </div>' +
            '   <div class="col d-flex mt-2">' +
            '       <div class="content-block text-break">' +
                        contentHtml +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function imageRightContent(block){
        let contentHtml = '';
        if(block.content !== null){
            // Разделяем контент на строки
            let lines = block.content.split('\n');

            // Создаем контейнер для новых параграфов
            contentHtml = lines.map(line => `<p class="block-text-size">${line}</p>`).join('');
        }

        $('#blocks').append(
            '<div class="row pt-4">' +
            '   <div class="col">' +
            '       <p class="fs-2 block-text-title text-dark">' + (block.contentTitle === null ? "" : block.contentTitle) + '</p>' +
            '   </div>' +
            '</div>' +
            '<div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-2 p-0 pt-4">' +
            '   <div class="col d-flex">' +
            '       <div class="content-block text-break">' +
                        contentHtml +
            '       </div>' +
            '   </div>' +
            '   <div class="col px-0">' +
            '       <div class="img-container shadow">' +
            '           <img src="' + block.imageUrlMd + '" class="img-fluid img-thumbnail img-ratio-control" alt="' + post.title + '" style="cursor: pointer" onclick="showImage(\'' + block.imageUrlLg + '\', \'' + post.title + '\')">' +
            '       </div>' +
            '       <div class="w-100">' +
            '           <small class="text-secondary">' + (block.imageDescription === null ? "" : block.imageDescription) + '</small>' +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function contentOnly(block){

        // Разделяем контент на строки
        let lines = block.content.split('\n');

        // Создаем контейнер для новых параграфов
        let contentHtml = lines.map(line => `<p class="block-text-size">${line}</p>`).join('');

        // Добавляем контейнер в DOM
        $('#blocks').append(
            '<div class="row pt-4">' +
            '   <div class="col">' +
            '       <p class="fs-2 block-text-title text-dark">' + (block.contentTitle === null ? "" : block.contentTitle) + '</p>' +
            '   </div>' +
            '</div>' +
            '<div class="row">' +
            '   <div class="col d-flex">' +
            '       <div class="m-auto content-block text-break">' +
                        contentHtml +
            '       </div>' +
            '   </div>' +
            '</div>'
        );
    }

    function setupMap(){
        $('#blocks').append(
            '<div class="row">' +
            '   <div class="col px-0">' +
            '       <div id="map" class="w-100 img-thumbnail shadow" style="height: 300px"></div>' +
            '   </div>' +
            '</div>'
        );
        initMap();
    }

    function initMap(){
        initLocationsMap([post.longitude, post.latitude],11);
    }

    async function initLocationsMap(center, zoom){
        await ymaps3.ready;
        const {YMapComplexEntity, YMapListener, YMap, YMapDefaultSchemeLayer,YMapDefaultFeaturesLayer, YMapMarker, YMapTileDataSource} = ymaps3;

        // Create a custom marker class with a popup
        class CustomMarkerWithPopup extends YMapComplexEntity {
            constructor(props, post) {
                super(props);
                this._marker = null;
                this._popup = null;
                this._post = post;
            }

            _onAttach() {
                this._createMarker();
            }

            _onDetach() {
                this._marker = null;
            }

            _onUpdate(props) {
                if (props.zIndex !== undefined) {
                    this._marker?.update({ zIndex: props.zIndex });
                }
                if (props.coordinates !== undefined) {
                    this._marker?.update({ coordinates: props.coordinates });
                }
            }

            _createMarker() {
                let imgUrl = '/img/loc/ekotropy.png';
                if(this._post.locationTypeModel){
                    imgUrl = this._post.locationTypeModel.imageUrl;
                }
                let element = document.createElement('div');
                element.innerHTML = `
                    <div class="row p-0 m-0" style="width: 32px; height: 32px; cursor: pointer">
                        <div class="col p-0 m-0" style="overflow: hidden">
                            <img class="img-fluid rounded-circle border border-white border-3" src="${imgUrl}" alt="${this._post.title}" style="object-fit: cover; height: 100%">
                        </div>
                    </div>
                `;
                element.className = 'marker';
                element.onclick = () => {
                    this._openPopup();
                };

                this._marker = new YMapMarker({ coordinates: this._props.coordinates }, element);
                this.addChild(this._marker);
            }

            _openPopup() {
                if (this._popup) {
                    return;
                }

                let imageUrl = '';
                this._post.contentList.forEach(function (block){
                    if(block.imageUrlSm !== null){
                        imageUrl = block.imageUrlSm;
                    }
                });

                const element = document.createElement('div');
                element.innerHTML = `
                    <div class="card position-relative" style="width: 200px; transform: translate(-84px, -210px);">
                        <button id="close-btn-${this._post.uuid}" type="button" class="my_btn-close position-absolute top-0 end-0 m-2" aria-label="Close"></button>
                        <img src="${imageUrl}" class="card-img-top img-ratio-control" alt="${this._post.title}" style="height: 100px">
                        <div class="card-body">
                            <div class="row p-0 m-0">
                                <div class="col p-0 m-0">
                                    <div class="row">
                                        <p class="my-font fs-6 clamp-line-2 text-center"><b>${this._post.title}</b></p>
                                        <p class="my-font fs-6 text-center">${this._post.latitude}, ${this._post.longitude}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `;

                const zIndex = (this._props.zIndex ?? YMapMarker.defaultProps.zIndex) + 1000;
                this._popup = new YMapMarker({
                    coordinates: this._props.coordinates,
                    zIndex,
                    blockBehaviors: this._props.blockBehaviors
                }, element);
                this.addChild(this._popup);

                // Добавление обработчика события для кнопки закрытия
                const closeButton = element.querySelector(`#close-btn-${this._post.uuid}`);
                closeButton.addEventListener('click', () => this._closePopup());
            }

            _closePopup() {
                if (!this._popup) {
                    return;
                }

                this.removeChild(this._popup);
                this._popup = null;
            }
        }

        const map = new YMap(
            document.getElementById('map'),
            {location: {center: center, zoom: zoom}},
            [
                new YMapDefaultSchemeLayer({}),
                new YMapDefaultFeaturesLayer({})
            ]
        );

        nearestLocations.forEach(function (p){
            map.addChild(new CustomMarkerWithPopup({coordinates: [p.longitude, p.latitude], popupContent: p.title}, p));
        });
    }

    function showImage(image,title){
        let viewer = $('#image-viewer');
        viewer.empty();
        viewer.append(`
            <div class="modal fade" id="image-viewer-modal" tabindex="-1" aria-labelledby="image-viewer-label" aria-hidden="true">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header border-0">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">${title}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <img class="img-fluid" src="${image}" alt="${title}">
                        </div>
                    </div>
                </div>
            </div>
        `);
        var modal = new bootstrap.Modal(document.getElementById('image-viewer-modal'));
        modal.show();
    }

    function setupSocialShare(){
        let url = [[${ogUrl}]];
        let socialBlock = $('#social-share');
        socialBlock.empty();
        socialBlock.append(`
            <div class="col">
                <div class="float-end p-1" style="width: 32px; height: 32px">
                    <a href="https://telegram.me/share/url?url=https://beartrack.ru${url}" data-telegram-share-url="https://beartrack.ru${url}"><img class="img-fluid" src="/img/social/telegram.png" alt="telegram" data-bs-toggle="tooltip" data-bs-placement="top" title="Поделится в Телеграм"></a>
                </div>
                <div class="float-end p-1" style="width: 32px; height: 32px">
                    <a href="https://vk.com/share.php?url=https://beartrack.ru${url}" data-bs-toggle="tooltip" data-bs-placement="top" title="Поделится в ВКонтакте"><img class="img-fluid" src="/img/social/vk.png" alt="vk"></a>
                </div>
                <div class="float-end p-1" style="width: 32px; height: 32px">
                    <a href="https://connect.ok.ru/offer?url=https://beartrack.ru${url}" data-bs-toggle="tooltip" data-bs-placement="top" title="Поделится в Одноклассниках"><img class="img-fluid" src="/img/social/ok.png" alt="ok"></a>
                </div>
                <div class="float-end p-1" style="width: 32px; height: 32px">
                    <a href="https://pinterest.com/pin/create/button/?url=https://beartrack.ru${url}" data-bs-toggle="tooltip" data-bs-placement="top" title="Поделится в Pinterest"><img class="img-fluid" src="/img/social/pinterest.png" alt="pinterest"></a>
                </div>
                <div class="float-end p-1" style="width: 32px; height: 32px">
                    <a href="https://twitter.com/intent/tweet?url=https://beartrack.ru${url}" data-bs-toggle="tooltip" data-bs-placement="top" title="Поделится в X (Twitter)"><img class="img-fluid" src="/img/social/x.png" alt="x"></a>
                </div>
            </div>
        `);
    }
</script>