.dropdown-form-size-1{
    width: 20rem
}

.field-icon {
    cursor: pointer;
    z-index: 2;
}

.size-100-px {
    height: 100px;
}

.size-150-px {
    height: 150px;
}

.size-200-px {
    height: 200px;
}

.full-block {
    width: 100%;
    height: 100%;
}

.skew-bg-up {
    clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
}

.skew-bg-down {
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.img-ratio-control {
    object-fit: cover;
}

.img-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Масштабирует изображение, сохраняя пропорции */
    object-position: center; /* Центрирует изображение */
}

.img-height-40vh {
    height: 40vh;
}

.content-block p {
    text-indent: 1.5em; /* Отступ первой строки */
    margin-bottom: 1rem; /* Отступ между абзацами */
}
