<div class="container">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 mx-0 mb-4">
        <div id="user-block" class="col-12 col-lg-3 border rounded-3 mx-auto mt-4">

        </div>
        <div class="col-12 col-md-12 col-lg-5 mx-auto">
            <div class="row">
                <div class="col-12 border rounded-3 mt-4">
                    <div class="row border-bottom">
                        <div class="col-8 d-flex m-0 p-0">
                            <div class="p-0 m-0 my-auto ms-2">
                                <p class="fs-4 my-font text-secondary">Ваши маршруты</p>
                            </div>
                        </div>
                        <div class="col-4 d-flex m-0 p-0">
                            <a href="#" class="btn btn-sm btn-outline-secondary ms-auto m-2 w-100 disabled"><i class="icon feather icon-navigation"></i> Добавить маршрут</a>
                        </div>
                    </div>
                    <div id="tracks" class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-3"></div>
                </div>
                <div class="col-12 border rounded-3 mt-4">
                    <div class="row border-bottom">
                        <div class="col-8 d-flex m-0 p-0">
                            <div class="p-0 m-0 my-auto ms-2">
                                <p class="fs-4 my-font text-secondary">Ваши места</p>
                            </div>
                        </div>
                        <div class="col-4 d-flex m-0 p-0">
                            <a href="#" class="btn btn-sm btn-outline-secondary ms-auto m-2 w-100 disabled" th:if="${!admin} and ${!moderator}"><i class="icon feather icon-map-pin"></i> Добавить локацию</a>
                            <a th:href="@{/location/create}" class="btn btn-sm btn-outline-secondary ms-auto m-2 w-100" th:if="${admin} or ${moderator}"><i class="icon feather icon-map-pin"></i> Добавить локацию</a>
                        </div>
                    </div>
                    <div class="row py-2" th:if="${admin}">
                        <div class="col-12" id="user-select"></div>
                    </div>
                    <div class="row border-bottom py-2">
                        <div class="col-8">
                            <input type="search" list="location-search-list" class="form-control" id="location-search" onchange="updateLocationList()">
                            <datalist id="location-search-list"></datalist>
                        </div>
                        <div class="col-2 d-flex">
                            <i class="icon feather icon-search fs-3 text-secondary my-auto"></i>
                        </div>
                        <div class="col-2 d-flex">
                            <div class="m-auto" id="locations-size"></div>
                        </div>
                    </div>
                    <div id="locations" class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-3"></div>
                    <div class="row">
                        <div id="location-pagination" class="col d-flex"></div>
                    </div>
                </div>
                <div class="col-12 border rounded-3 mt-4">
                    <div class="row border-bottom">
                        <div class="col-8 d-flex m-0 p-0">
                            <div class="p-0 m-0 my-auto ms-2">
                                <p class="fs-4 my-font text-secondary">Ваши статьи</p>
                            </div>
                        </div>
                        <div class="col-4 d-flex m-0 p-0">
                            <a href="#" class="btn btn-sm btn-outline-secondary ms-auto m-2 w-100 disabled" th:if="${!admin} and ${!moderator}"><i class="icon feather icon-book-open"></i> Написать статью</a>
                            <a th:href="@{/article/create}" class="btn btn-sm btn-outline-secondary ms-auto m-2 w-100" th:if="${admin} or ${moderator}"><i class="icon feather icon-book-open"></i> Написать статью</a>
                        </div>
                    </div>
                    <div id="articles" class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-3"></div>
                </div>
            </div>
        </div>
        <div id="user-control-panel" class="col-12 col-lg-3 border rounded-3 mx-auto mt-4">

        </div>
    </div>
</div>

<script th:inline="javascript">
    let admin = [[${admin}]];
    let moderator = [[${moderator}]];
    let admin_csrf = [[${_csrf}]];
    let user = [[${user}]];
    let users = [[${users}]];
    let roles = [[${roles}]];
    let locations = [[${locations}]];
    let articles = [[${articles}]];
    let locationTypesArray = null;
    // location
    let locationPage = 0;
    let locationPageSize = 12;
    // articles
    let articlePage = 0;
    let articlePageSize = 12;

    document.addEventListener('DOMContentLoaded', function() {
        if (localStorage.getItem('showToast') === 'true') {
            // отображаем toast
            showToast(localStorage.getItem('status'),localStorage.getItem('message'));
            // удаляем информацию о том, что нужно отобразить toast
            localStorage.removeItem('showToast');
            localStorage.removeItem('status');
            localStorage.removeItem('message');
        }
    });

    setupUserBlock();
    setupUserSelect()
    setupLocationSearchList();
    setupLocationTypes();
    setupLocationsFiled();
    setupArticleField();
    setupUserPanel();

    function setupUserBlock(){
        let birthday = new Date(user.birthday);
        let formattedBirthday = birthday.toLocaleDateString('ru-RU');
        let userBlock = $('#user-block');
        userBlock.empty();
        userBlock.append(`
        <p class="w-100 fs-3 my-font mt-4"><strong>Пользователь</strong></p>
        <img src="/img/default_account_image.webp" class="img-thumbnail my-4" alt="profile image" width="150px" height="150px">
        <p class="w-100 fs-6 text-secondary">Фамилия:</p>
        <p class="w-100 fs-4">${user.lastname}</p>
        <p class="w-100 fs-6 text-secondary">Имя:</p>
        <p class="w-100 fs-4">${user.name}</p>
        <p class="w-100 fs-6 text-secondary">Отчество:</p>
        <p class="w-100 fs-4">${user.middleName}</p>
        <p class="w-100 fs-6 text-secondary">День рождения:</p>
        <p class="w-100 fs-4">${formattedBirthday}</p>
        <p class="w-100 fs-6 text-secondary">Электронная почта:</p>
        <p class="w-100 fs-4 mb-4">${user.email}</p>

        <div class="row mb-4">
            <div class="col">
                <buttin id="edit-user-button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" data-bs-target="#user-edit-modal"><i class="icon feather icon-edit-2"> Редактировать</i></buttin>
                <div class="modal fade" id="user-edit-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="user-edit-window" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать: ${user.fullName}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="container-fluid">
                                    <div class="row row-cols-auto">
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <label class="ms-1" for="lastname">Фамилия</label>
                                            <input type="text" class="form-control" id="lastname" value="${user.lastname}">
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <label class="ms-1" for="name">Имя</label>
                                            <input type="text" class="form-control" id="name" value="${user.name}">
                                        </div>
                                        <div class="col-sm-12 col-md-4 col-lg-4">
                                            <label class="ms-1" for="middlename">Отчество</label>
                                            <input type="text" class="form-control" id="middlename" value="${user.middleName}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <label class="ms-1" for="birthday">День рождения</label>
                                            <input type="date" class="form-control" id="birthday" value="${user.birthday}">
                                        </div>
                                        <div class="col-sm-12 col-md-6 col-lg-6">
                                            <label class="ms-1" for="email">Email</label>
                                            <input type="email" class="form-control" id="email" value="${user.email}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <button type="button" id="${user.uuid}" class="btn btn-primary" onclick="updateUserDataSelf(this.id)">Обновить</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        `
        );
    }

    function setupUserSelect(){
        let userSelect = $('#user-select');
        userSelect.empty();
        userSelect.append(`
            <select class="form-select" id="user-selector" onchange="reloadLocations()">
                <option value="0">Все</option>
            </select>
        `);

        let userSelector = $('#user-selector');
        users.forEach(function (user){
            userSelector.append(`
                <option value="${user.uuid}">${user.fullName}</option>
            `);
        });
    }

    function reloadLocations(){
        let uuid = $('#user-selector').val();
        $.ajax({
            url:'/api/location/user/get/all',
            type:'get',
            data:{
                user:uuid
            },
            success:function (response){
                locations = response;
                locationPage = 0;
                setupLocationSearchList();
                setupLocationsFiled();
                setupLocationPagination();
            }
        });
    }

    function setupLocationSearchList(){
        let locationsSize = $('#locations-size');
        locationsSize.empty();
        locationsSize.append(`
            <p class="fs-6 text-dark text-center my-font"><i class="icon feather icon-map-pin"></i> ${locations.length}</p>
        `);

        let locationList = $('#location-search-list');
        locationList.empty();
        let locationSearchList = '';
        locations.forEach(function (location){
            locationList.append(`
            <option value="${location.title}"></option>
            `);
        });
        locationList.append(locationSearchList);
    }

    function updateLocationList(){
        let locationTitle = $('#location-search').val();
        reformLocation(locationTitle);
    }

    function reformLocation(t){
        let location = null;
        locations.forEach(function (l){
            if(l.title === t){
                location = l;
            }
        });
        let locationsTemp = locations;
        locations = [location];
        console.log(locationsTemp, locations);
        setupLocationsFiled();
        locations = locationsTemp;
        reloadTooltip();
    }

    function setupLocationTypes(){
        if(admin){
            $.ajax({
                url:'/api/location/type/get/all',
                type:'get',
                success:function (response){
                    locationTypesArray = response;
                    let types = $('#location-types');
                    types.empty();
                    response.forEach(function (type) {
                        const typeData = JSON.stringify(type).replace(/"/g, '&quot;'); // Экранируем одинарные кавычки
                        types.append(`
                            <div class="col-1 m-0 p-0 d-flex" style="width: 64px; height: 64px">
                                <div class="m-auto w-75 h-75">
                                    <img class="img-thumbnail rounded-circle zoom-in cursor-pointer m-auto" src="${type.imageUrl}" alt="${type.name}" data-type="${typeData}" data-bs-toggle="modal" data-bs-target="#location-type-${type.uuid}">
                                </div>
                            </div>
                            <div class="modal fade" id="location-type-${type.uuid}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="location-modal-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Окно редактирования типа места: ${type.name}</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row row-cols-auto">
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <label for="location-type-name-${type.uuid}" class="ms-1">Уникальное имя типа места</label>
                                                    <input type="text" id="location-type-name-${type.uuid}" value="${type.name}" class="form-control">
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <label for="location-type-image-${type.uuid}" class="ms-1">Изображение</label>
                                                    <input type="file" id="location-type-image-${type.uuid}" accept="image/*" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <label for="location-type-description-${type.uuid}" class="ms-1">Описание</label>
                                                    <textarea type="text" id="location-type-description-${type.uuid}" class="form-control" rows="4">${type.description}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                            <button id="update~${type.uuid}" type="button" class="btn btn-primary" onclick="updateLocationType(this.id)">Обновить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `);
                    });
                    types.append(`
                        <div class="col-1 m-0 p-0 d-flex" style="width: 64px; height: 64px">
                            <div class="m-auto w-75 h-75 rounded-circle border">
                                <button type="button" class="zoom-in btn btn-link m-auto text-decoration-none text-dark rounded-circle border border-4 border-white w-100 h-100 d-flex" style="background: #f1f1f1" data-bs-toggle="modal" data-bs-target="#location-type-add-modal">
                                    <i class="icon feather icon-plus m-auto" style="transform: translate(-1px,0px)"></i>
                                </button>
                            </div>
                            <div class="modal fade" id="location-type-add-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="location-modal-label" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Окно добавления типов мест</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row row-cols-auto">
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <label for="location-type-name ms-1">Уникальное имя типа места</label>
                                                    <input type="text" id="location-type-name" class="form-control">
                                                </div>
                                                <div class="col-sm-12 col-md-6 col-lg-6">
                                                    <label for="location-type-image ms-1">Изображение</label>
                                                    <input type="file" id="location-type-image" accept="image/*" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12 col-md-12 col-lg-12">
                                                    <label for="location-type-description ms-1">Описание</label>
                                                    <textarea type="text" id="location-type-description" class="form-control" rows="4"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
                                            <button type="button" class="btn btn-primary" onclick="addLocationType()">Добавить</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    `);
                }
            });
        }
    }

    function setupLocationsFiled(){
        let locationsFiled = $('#locations');
        locationsFiled.empty();
        for(let i=(locationPage * locationPageSize); i<((locationPage * locationPageSize) + locationPageSize); i++){
            let location = locations[i];
            if(location){
                locationsFiled.append(`
                <div class="col-6 col-md-4 col-lg-4 g-3 mb-2">
                    <div class="row p-0 m-0 shadow rounded-3 zoom-in h-100">
                        <div class="col p-0 m-0 d-flex flex-column justify-content-between">
                            <div class="row p-0 m-0 h-100 border-bottom">
                                <div class="col-3 m-0 p-0 d-flex">
                                    <a class="text-decoration-none text-dark m-auto" href="/location/${location.sef}">
                                        <i class="icon feather icon-map-pin"></i>
                                    </a>
                                </div>
                                <div class="col-9 m-0 p-0 d-flex">
                                    <a class="text-decoration-none text-dark my-auto p-2" href="/location/${location.sef}">
                                        <p class="clamp-line-2" data-bs-toggle="tooltip" data-bs-title="${location.title}" style="font-size: 10px">${location.title}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="row p-0 mx-0 mt-auto">
                                <div class="col-6 m-0 p-0 d-flex border-end">
                                    <a href="/location/edit/${location.sef}" class="p-1 m-auto"><i class="icon feather icon-edit-2"></i></a>
                                </div>
                                <div class="col-6 m-0 p-0 d-flex">
                                    <a href="/location/delete/${location.uuid}" class="p-1 m-auto text-danger"><i class="icon feather icon-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                `);
            }
        }

        if(locations.length !== 0){
            setupLocationPagination();
        }
    }

    function setupLocationPagination(){
        let lastPage = parseInt(locations.length / 12);
        $('#location-pagination').empty();
        let pagination = `
            <nav aria-label="Page navigation" class="m-auto">
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous" onclick="locationPrevious()">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    ${0 < locationPage ? `<li class="page-item"><a class="page-link" href="#" onclick="locationGoToPage(${locationPage - 1})">${locationPage}</a></li>` : ''}
                    <li class="page-item"><a class="page-link active" href="#">${locationPage + 1}</a></li>
                    ${locationPage < lastPage ? `<li class="page-item"><a class="page-link" href="#" onclick="locationGoToPage(${locationPage + 1})">${locationPage + 2}</a></li>` : ''}
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next" onclick="locationNext()">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        `;
        $('#location-pagination').append(pagination);
    }

    function locationNext(){
        let lastPage = parseInt(locations.length / 12);
        locationPage ++;
        if(locationPage > lastPage){
            locationPage = lastPage;
        }
        setupLocationsFiled();
        reloadTooltip();
    }

    function locationPrevious(){
        locationPage --;
        if(locationPage < 0){
            locationPage = 0;
        }
        setupLocationsFiled();
        reloadTooltip();
    }

    function locationGoToPage(page){
        locationPage = page;
        setupLocationsFiled();
        reloadTooltip();
    }

    function setupArticleField(){
        let articlesField = $('#articles');
        articlesField.empty();
        for(let i=(articlePage * articlePageSize); i<((articlePage * articlePageSize) + articlePageSize); i++){
            let article = articles[i];
            if(article){
                articlesField.append(`
                    <div class="col-6 col-md-4 col-lg-4 g-3 mb-2">
                        <div class="row p-0 m-0 shadow rounded-3 zoom-in h-100">
                            <div class="col p-0 m-0 d-flex flex-column justify-content-between">
                                <div class="row p-0 m-0 h-100 border-bottom">
                                    <div class="col-3 m-0 p-0 d-flex">
                                        <a class="text-decoration-none text-dark m-auto" href="/article/${article.sef}">
                                            <i class="icon feather icon-map-pin"></i>
                                        </a>
                                    </div>
                                    <div class="col-9 m-0 p-0 d-flex">
                                        <a class="text-decoration-none text-dark my-auto p-2" href="/article/${article.sef}">
                                            <p class="clamp-line-2" data-bs-toggle="tooltip" data-bs-title="${article.title}" style="font-size: 10px">${article.title}</p>
                                        </a>
                                    </div>
                                </div>
                                <div class="row p-0 mx-0 mt-auto">
                                    <div class="col-6 m-0 p-0 d-flex border-end">
                                        <a href="/article/edit/${article.sef}" class="p-1 m-auto"><i class="icon feather icon-edit-2"></i></a>
                                    </div>
                                    <div class="col-6 m-0 p-0 d-flex">
                                        <a href="/article/delete/${article.uuid}" class="p-1 m-auto text-danger"><i class="icon feather icon-trash"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                `);
            }
        }
    }

    function updateUserDataSelf(uuid){
        let person = {
            uuid:uuid,
            lastname: $('#lastname').val(),
            name: $('#name').val(),
            middleName: $('#middlename').val(),
            birthday: $('#birthday').val(),
            email: $('#email').val(),
            role: user.role
        }

        showSpinner();
        $.ajax({
            url:'/api/user/update',
            type:'get',
            data: person,
            success: function(data) {
                console.log(data);
                hideSpinner();
                localStorage.setItem('showToast', 'true');
                localStorage.setItem('status', 'success');
                localStorage.setItem('message','Данные пользователя' + person.name + 'обновлены')
                location.reload(true);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('Error:', textStatus, errorThrown);
                showToast('error', 'Error: ' + jqXHR.responseJSON.message);
                hideSpinner();
            }
        });
    }

    function setupUserPanel(){
        let panel = $('#user-control-panel');
        if(admin){
            let usersBlock = '';
            users.forEach(function (u){
                usersBlock += `
                <div class="row shadow rounded-3 m-2">
                    <div class="col-6 border-end m-0 p-0 d-flex">
                        <p class="m-auto">${u.username}</p>
                    </div>
                    <div class="col-6 d-flex m-0 p-0">
                        <div class="m-auto py-1 btn-group">
                            <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#user-edit-${u.uuid}"><i class="icon feather icon-edit-2"></i></button>
                            <button type="button" class="btn btn-sm btn-outline-danger disabled"><i class="icon feather icon-trash-2"></i></button>
                        </div>
                        <div class="modal fade" id="user-edit-${u.uuid}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="user-edit-window" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Редактировать: ${u.fullName}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row row-cols-auto">
                                                <div class="col-sm-12 col-md-4 col-lg-4">
                                                    <label class="ms-1" for="lastname-${u.uuid}">Фамилия</label>
                                                    <input type="text" class="form-control" id="lastname-${u.uuid}" value="${u.lastname}">
                                                </div>
                                                <div class="col-sm-12 col-md-4 col-lg-4">
                                                    <label class="ms-1" for="name-${u.uuid}">Имя</label>
                                                    <input type="text" class="form-control" id="name-${u.uuid}" value="${u.name}">
                                                </div>
                                                <div class="col-sm-12 col-md-4 col-lg-4">
                                                    <label class="ms-1" for="middlename-${u.uuid}">Отчество</label>
                                                    <input type="text" class="form-control" id="middlename-${u.uuid}" value="${u.middleName}">
                                                </div>
                                            </div>
                                            <div class="row row-cols-auto">
                                                <div class="col-sm-12 col-md-4 col-lg-4">
                                                    <label class="ms-1" for="birthday-${u.uuid}">День рождения</label>
                                                    <input type="date" class="form-control" id="birthday-${u.uuid}" value="${u.birthday}">
                                                </div>
                                                <div class="col-sm-12 col-md-4 col-lg-4">
                                                    <label class="ms-1" for="email-${u.uuid}">Email</label>
                                                    <input type="email" class="form-control" id="email-${u.uuid}" value="${u.email}">
                                                </div>
                                                <div class="col-sm-12 col-md-4 col-lg-4-4">
                                                    <label class="ms-1" for="role-${u.uuid}">Роль</label>
                                                    <select class="form-select" id="role-${u.uuid}">
                                                        ${roles.map(function (role){
                                                            let selected = (u.role === role.role) ? 'selected' : '';
                                                            return `<option value="${role.role}" ${selected}>${role.roleTitle}</option>`;
                                                        }).join('')}
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                        <button type="button" id="${u.uuid}" class="btn btn-primary" onclick="updateUserData(this.id)">Обновить</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                `;
            });
            let innerBlock = `
            <div class="row">
                <div class="col">
                    <p class="my-font fs-4 pt-4"><b>Панель администратора</b></p>
                </div>
            </div>
            <hr>
            <p class="my-font text-center">Пользователи</p>
            <div class="row">
                <div class="col">
                    ${usersBlock}
                </div>
            </div>
            <hr>
            <p class="my-font text-center">Типы локаций</p>
            <div id="location-types" class="row row-cols-auto px-3"></div>
            `;
            panel.append(innerBlock);
        }
    }

    function updateUserData(uuid){

        showSpinner();

        let person = {
            uuid:uuid,
            lastname: $('#lastname-' + uuid).val(),
            name: $('#name-' + uuid).val(),
            middleName: $('#middlename-' + uuid).val(),
            birthday: $('#birthday-' + uuid).val(),
            email: $('#email-' + uuid).val(),
            role: $('#role-' + uuid).val()
        }

        $.ajax({
            url:'/api/user/update',
            type:'get',
            data: person,
            success: function(data) {
                console.log(data);
                hideSpinner();
                localStorage.setItem('showToast', 'true');
                localStorage.setItem('status', 'success');
                localStorage.setItem('message','Данные пользователя ' + person.name + ' обновлены')
                location.reload(true);
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('Error:', textStatus, errorThrown);
                hideSpinner();
            }
        });
    }

    function addLocationType(){
        let formData = new FormData();
        formData.append('name',$('#location-type-name').val());
        formData.append('description',$('#location-type-description').val());
        let file = $('#location-type-image')[0];
        if(file){
            file = file.files[0];
            if(file){
                formData.append('image',file);
            }
        }else{
            return;
        }

        showSpinner();
        $.ajax({
            url:'/api/location/type/add',
            type:'post',
            data:formData,
            processData: false,
            contentType: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(admin_csrf.headerName, admin_csrf.token);
            },
            success: function (response) {
                console.log(response);
                hideSpinner();
                localStorage.setItem('showToast', 'true');
                localStorage.setItem('status', 'success');
                localStorage.setItem('message','Новый тип места успешно добавлен')
                location.reload(true);
            },
            error: function (xhr, status, error) {
                hideSpinner();
                console.error(status, error);
                showToast("error", 'error: ' + xhr.responseJSON.message)
            }
        });
    }

    function updateLocationType(id){
        let parts = id.split('~');
        let uuid = parts[parts.length - 1];
        let formData = new FormData();
        formData.append('uuid',uuid);
        formData.append('name',$('#location-type-name-' + uuid).val());
        formData.append('description',$('#location-type-description-' + uuid).val());
        let file = $('#location-type-image-' + uuid)[0];
        if(file){
            file = file.files[0];
            if(file){
                formData.append('image',file);
            }
        }

        showSpinner();
        $.ajax({
            url:'/api/location/type/update',
            type:'post',
            data:formData,
            processData: false,
            contentType: false,
            beforeSend: function(xhr) {
                xhr.setRequestHeader(admin_csrf.headerName, admin_csrf.token);
            },
            success: function (response) {
                console.log(response);
                hideSpinner();
                localStorage.setItem('showToast', 'true');
                localStorage.setItem('status', 'success');
                localStorage.setItem('message','Тип места успешно обновлен')
                location.reload(true);
            },
            error: function (xhr, status, error) {
                hideSpinner();
                console.error(status, error);
                showToast("error", 'error: ' + xhr.responseJSON.message)
            }
        });
    }

    /*document.addEventListener('DOMContentLoaded', (event) => {
        const types = document.getElementById('location-types');
        locationTypesArray.forEach(function (type){
            types.insertAdjacentHTML('afterbegin', `
                    <div class="col-1 m-0 p-0 d-flex" style="width: 64px; height: 64px">
                        <div class="m-auto w-75 h-75">
                            <img class="img-thumbnail rounded-circle m-auto" src="${type.imageUrl}" alt="${type.name}">
                        </div>
                    </div>
                `);
        });

        // Инициализация Sortable.js
        new Sortable(types, {
            animation: 150,
            ghostClass: 'sortable-ghost',
            onEnd: function(){
                console.log("Метод пересортировки");
            }
        });
    });*/
</script>
