<div class="container">
    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 mx-0 mb-4">
        <div id="user-block" class="col-12 col-lg-3 border rounded-3 mx-auto mt-4">

        </div>
        <div class="col-12 col-md-12 col-lg-5 mx-auto">
            <div class="row">
                <div class="col-12 border rounded-3 mt-4">
                    <div class="row border-bottom">
                        <div class="col-8 d-flex m-0 p-0">
                            <div class="p-0 m-0 my-auto ms-2">
                                <p class="fs-4 my-font text-secondary">Ваши маршруты</p>
                            </div>
                        </div>
                        <div class="col-4 d-flex m-0 p-0">
                            <a href="#" class="btn btn-sm btn-outline-secondary ms-auto m-2 w-100"><i class="icon feather icon-navigation"></i> Добавить маршрут</a>
                        </div>
                    </div>
                    <div id="tracks" class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-3"></div>
                </div>
                <div class="col-12 border rounded-3 mt-4">
                    <div class="row border-bottom">
                        <div class="col-8 d-flex m-0 p-0">
                            <div class="p-0 m-0 my-auto ms-2">
                                <p class="fs-4 my-font text-secondary">Ваши места</p>
                            </div>
                        </div>
                        <div class="col-4 d-flex m-0 p-0">
                            <a th:href="@{/location/create}" class="btn btn-sm btn-outline-secondary ms-auto m-2 w-100"><i class="icon feather icon-map-pin"></i> Добавить локацию</a>
                        </div>
                    </div>
                    <div id="locations" class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-3"></div>
                </div>
                <div class="col-12 border rounded-3 mt-4">
                    <div class="row border-bottom">
                        <div class="col-8 d-flex m-0 p-0">
                            <div class="p-0 m-0 my-auto ms-2">
                                <p class="fs-4 my-font text-secondary">Ваши статьи</p>
                            </div>
                        </div>
                        <div class="col-4 d-flex m-0 p-0">
                            <a href="#" class="btn btn-sm btn-outline-secondary ms-auto m-2 w-100"><i class="icon feather icon-book-open"></i> Добавить статью</a>
                        </div>
                    </div>
                    <div id="posts" class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-3"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-3 border rounded-3 mx-auto mt-4">

        </div>
    </div>
</div>

<script th:inline="javascript">
    let user = [[${user}]];
    let locations = [[${locations}]];
    let locationPage = 0;

    setupUserBlock();
    setupLocationsFiled();

    function setupUserBlock(){
        let birthday = new Date(user.birthday);
        let formattedBirthday = birthday.toLocaleDateString('ru-RU');
        let userBlock = $('#user-block');
        userBlock.empty();
        userBlock.append(`
        <p class="w-100 fs-3 my-font mt-4"><strong>Пользователь</strong></p>
        <img src="/img/default_account_image.webp" class="img-thumbnail my-4" alt="profile image" width="150px" height="150px">
        <p class="w-100 fs-6 text-secondary">Фамилия:</p>
        <p class="w-100 fs-4">${user.lastname}</p>
        <p class="w-100 fs-6 text-secondary">Имя:</p>
        <p class="w-100 fs-4">${user.name}</p>
        <p class="w-100 fs-6 text-secondary">Отчество:</p>
        <p class="w-100 fs-4">${user.middleName}</p>
        <p class="w-100 fs-6 text-secondary">День рождения:</p>
        <p class="w-100 fs-4">${formattedBirthday}</p>
        <p class="w-100 fs-6 text-secondary">Электронная почта:</p>
        <p class="w-100 fs-4 mb-4">${user.email}</p>

        <div class="row mb-4">
            <div class="col">
                <buttin id="edit-user-button" class="btn btn-outline-secondary w-100" onclick="editUserData()"><i class="icon feather icon-edit-2"> Редактировать</i></buttin>
            </div>
        </div>
        `
        );
    }

    function setupLocationsFiled(){
        let locationsFiled = $('#locations');
        locationsFiled.empty();
        for(let i=locationPage; i<(locationPage + 12); i++){
            let location = locations[i];
            if(location){
                locationsFiled.append(`
                <div class="col-6 col-md-4 col-lg-4 g-3 mb-2">
                    <div class="row p-0 m-0 shadow rounded-3 zoom-in h-100">
                        <div class="col p-0 m-0 d-flex flex-column justify-content-between">
                            <div class="row p-0 m-0 h-100 border-bottom">
                                <div class="col-3 m-0 p-0 d-flex">
                                    <a class="text-decoration-none text-dark m-auto" href="/location/${location.sef}">
                                        <i class="icon feather icon-map-pin"></i>
                                    </a>
                                </div>
                                <div class="col-9 m-0 p-0 d-flex">
                                    <a class="text-decoration-none text-dark my-auto p-2" href="/location/${location.sef}">
                                        <p style="font-size: 10px">${location.title}</p>
                                    </a>
                                </div>
                            </div>
                            <div class="row p-0 mx-0 mt-auto">
                                <div class="col-6 m-0 p-0 d-flex border-end">
                                    <a href="/location/edit/${location.sef}" class="p-1 m-auto"><i class="icon feather icon-edit-2"></i></a>
                                </div>
                                <div class="col-6 m-0 p-0 d-flex">
                                    <a href="/location/delete/${location.uuid}" class="p-1 m-auto text-danger"><i class="icon feather icon-trash"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                `);
            }
        }
    }

    function editUserData(){

    }
</script>