<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">

        <title th:text="${title}">page-title</title>

        <meta name="description" th:content="${metaDescription}">
        <meta name="keywords" th:content="${metaKeywords}">

        <meta property="og:title" th:content="${title}">
        <meta property="og:description" th:content="${metaDescription}">
        <meta property="og:type" th:content="${ogType}">
        <meta property="og:image" th:content="${ogImage}">
        <meta property="og:logo" th:content="'https://beartrack.ru' + ${ogLogo}">
        <meta property="og:url" th:content="'https://beartrack.ru' + ${ogUrl}">
        <meta property="og:image:width" content="1280"/>
        <meta property="og:image:height" content="720"/>

        <!-- main -->
        <link href="/css/index.css" rel="stylesheet">
        <link href="/img/favicon.svg" rel="icon" type=" image/svg+xml">
        <!-- jquery -->
        <script src="/fw/jquery/dist/jquery.js"></script>
        <!-- bootstrap -->
        <!--<link href="/fw/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
        <link href="/fw/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
        <!-- ynadex.map.api 7c13cf7d-c937-4ca6-8021-145ac16bdcae -->
        <script src="https://api-maps.yandex.ru/v3/?apikey=7c13cf7d-c937-4ca6-8021-145ac16bdcae&lang=ru_RU"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
        <link href="https://cdn.jsdelivr.net/npm/quill@2.0.2/dist/quill.snow.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/default.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>
    </head>

    <body>

        <div id="overlay">
            <div class="spinner-border fs-1 text-light" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="toast-container position-fixed bottom-0 end-0 p-3" id="info-toast"></div>
        <!-- page -->
        <header th:insert="~{blocks/header}"></header>

        <div th:insert="~{content/main}" th:if="${index} == 'main'"></div>
        <div th:insert="~{content/about}" th:if="${index} == 'about-page'"></div>

        <div th:insert="~{content/account/personal}" th:if="${index} == 'account-personal-page'"></div>

        <div th:insert="~{content/location/list}" th:if="${index} == 'location-list-page'"></div>
        <div th:insert="~{content/location/create}" th:if="${index} == 'location-create-page'"></div>
        <div th:insert="~{content/location/show}" th:if="${index} == 'location-show-page'"></div>
        <div th:insert="~{content/location/edit}" th:if="${index} == 'location-edit-page'"></div>

        <div th:insert="~{content/article/create}" th:if="${index} == 'article-create-page'"></div>

        <footer th:insert="~{blocks/footer}"></footer>

        <!-- scripts -->
        <script src="/js/overlay.js"></script>
        <script src="/fw/@popperjs/core/dist/umd/popper.min.js"></script>
        <script src="/fw/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/js/toast.controller.js"></script>
        <script>
            let Tooltipelements = document.querySelectorAll("[data-bs-toggle='tooltip']");
            Tooltipelements.forEach((el) => {
                new bootstrap.Tooltip(el);
            });
            function reloadTooltip(){
                let tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                let tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
                tooltipList.forEach(function (tooltip) {
                    tooltip.dispose()
                })

                // инициализируем новые экземпляры tooltip
                tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
                tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                    return new bootstrap.Tooltip(tooltipTriggerEl)
                })
            }
        </script>
        <!-- Yandex.Metrika counter start -->
        <script type="text/javascript">
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () {
                    (m[i].a = m[i].a || []).push(arguments)
                };
                m[i].l = 1 * new Date();
                for (var j = 0; j < document.scripts.length; j++) {
                    if (document.scripts[j].src === r) {
                        return;
                    }
                }
                k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
            (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(97470277, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true
            });
        </script>
        <noscript>
            <div><img alt="" src="https://mc.yandex.ru/watch/97470277" style="position:absolute; left:-9999px;"/>
            </div>
        </noscript>
        <!-- /Yandex.Metrika counter end -->
    </body>
</html>