<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="container text-left">
            <div class="row align-items-start">
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <img class="footer-logo" src="/img/logo.svg">
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-footer">

                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 text-footer">

                </div>
                <div class="col-lg-3 col-md-6 text-footer">
                    <a href="https://telegram.me/share/url?url=https%3A%2F%2Fbeartrack.ru" data-telegram-share-url="https://beartrack.ru"><img src="/img/social/telegram.png" alt="telegram" width="32" height="32"></a>
                </div>
            </div>
        </div>
    </footer>
</div>