<div class="container">
    <header class="mb-3 yllo">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="" th:href="@{/}"> <img alt="beartrack" class="top-logo" src="/img/logo.png"></a>
                <button aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarTogglerDemo02" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                    <ul class="navbar-nav me-auto mt-0 mt-lg-0 ">
                        <li class="nav-item">
                            <a class="nav-link1" href="#"><i class="icon feather icon-navigation fs-6 text-secondary"></i> Маршруты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="#"><i class="icon feather icon-map-pin fs-6 text-secondary"></i> Места</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="#"><i class="icon feather icon-download fs-6 text-secondary"></i> Скачать приложение</a>
                        </li>
                    </ul>
                    <i class="icon feather icon-search ic_serch"></i>

                    <form class="d-flex">
                        <input class="form-control me-2" type="serch" placeholder="Поиск..." aria-label="serch">
                    </form>

                    <ul class="navbar-nav justify-content-end mt-0 mt-lg-0 ">
                        <li class="nav-item">
                            <div class="dropdown">
                                <div aria-expanded="false" aria-haspopup="true" class="nav-link1" data-bs-toggle="dropdown"
                                     id="dropdownMenuButton" type="button">
                                    Профиль
                                </div>
                                <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </li>


                        <li class="nav-item">
                            <a class="nav-link1" href="#">Выйти</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </header>
</div>