<div class="container">
    <header class="mb-3 yllo">
        <div class="container">
            <nav class="navbar navbar-expand-lg">
                <a class="" th:href="@{/}"> <img alt="beartrack" class="top-logo" src="/img/logo.svg"></a>
                <button aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarTogglerDemo02" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

                    <ul class="navbar-nav me-auto mt-0 mt-lg-0 ">
                        <!--<li class="nav-item">
                            <a class="nav-link1" href="#"><i class="icon feather icon-navigation fs-6 text-secondary"></i> Маршруты</a>
                        </li>-->
                        <li class="nav-item">
                            <a class="nav-link1" th:href="@{/location/list?page=0}"><i class="icon feather icon-map-pin fs-6 text-secondary"></i> Места</a>
                        </li>
                        <!--<li class="nav-item">
                            <a class="nav-link1" href="#"><i class="icon feather icon-book-open fs-6 text-secondary"></i> Статьи</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link1" href="#"><i class="icon feather icon-download fs-6 text-secondary"></i> Скачать приложение</a>
                        </li>-->
                    </ul>
                    <i class="icon feather icon-search ic_serch"></i>

                    <div class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Поиск..." aria-label="serch" id="main-search" list="main-search-data-list" oninput="mainSearch()">
                        <datalist id="main-search-data-list"></datalist>
                    </div>

                    <ul class="navbar-nav justify-content-end mt-0 mt-lg-0 ">
                        <li class="nav-item" th:if="${auth}">
                            <div class="dropdown">
                                <div aria-expanded="false" aria-haspopup="true" class="nav-link1 dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton" type="button">
                                    Профиль
                                </div>
                                <div aria-labelledby="dropdownMenuButton" class="dropdown-menu">
                                    <a class="dropdown-item" th:href="@{/account/personal}">Личный кабинет</a>
                                    <a class="dropdown-item" href="#">Редактировать</a>
                                    <a class="dropdown-item" href="#">Сменить пароль</a>
                                </div>
                            </div>
                        </li>


                        <li class="nav-item" th:if="${auth}">
                            <form th:method="POST" th:action="@{/logout}">
                                <button type="submit" class="btn btn-link nav-link1">Выйти</button>
                            </form>
                        </li>

                        <li class="nav-item" th:if="${!auth}">
                            <div class="dropdown">
                                <div type="button" id="dropdown-login-form" class="nav-link1 dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bs-auto-close="outside">
                                    Вход
                                </div>
                                <div aria-labelledby="dropdown-login-form" class="dropdown-menu dropdown-menu-end nav-bar-w-300 m-0 px-0 py-2">
                                    <form id="auth-form" class="row m-auto" th:method="POST" th:action="@{/}">
                                        <div class="col">
                                            <div class="row">
                                                <div class="col form-floating">
                                                    <input type="text" class="form-control" id="username" name="username" placeholder="username">
                                                    <label for="username" class="ms-2">Имя пользователя</label>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col form-floating position-relative">
                                                    <input type="password" class="form-control" id="password" name="password" placeholder="password">
                                                    <label for="password" class="ms-2">Пароль</label>
                                                    <i toggle="#password" class="icon feather icon-eye field-icon toggle-password position-absolute end-0 top-40 me-4"></i>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="d-grid gap-2 col-6 mx-auto">
                                                    <button class="btn btn-outline-success" type="submit">Вход</button>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col text-center">
                                                    <a href="#" onclick="showRegForm()"><small>Нет учетной записи? Зарегистрируйся!</small></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <script>
                                        document.addEventListener('DOMContentLoaded', function() {
                                            const togglePassword = document.querySelector('.toggle-password');
                                            const passwordField = document.querySelector('#password');

                                            togglePassword.addEventListener('click', function() {
                                                const type = passwordField.getAttribute('type') === 'password' ? 'text' : 'password';
                                                passwordField.setAttribute('type', type);
                                                this.classList.toggle('icon-eye-off');
                                            });
                                        });
                                    </script>

                                    <form id="reg-form" class="row m-auto" novalidate hidden>
                                        <div class="col">
                                            <div class="row">
                                                <div class="col form-floating">
                                                    <input type="text" class="form-control" id="username-form" placeholder="username-form" oninput="validateUsername()" required>
                                                    <label for="username-form" class="ms-2">Имя пользователя</label>
                                                    <div class="valid-feedback">
                                                        <p id="username-valid-data" class="text-center">Отлично!</p>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <p id="username-invalid-data" class="text-center">Укажите имя пользователя!</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col form-floating position-relative">
                                                    <input type="password" class="form-control" id="password-form" placeholder="password-form" oninput="validatePassword()" required>
                                                    <label for="password-form" class="ms-2">Пароль</label>
                                                    <div class="valid-feedback">
                                                        <p id="password-valid-data" class="text-center">Отлично!</p>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <p id="password-invalid-data" class="text-center">Укажите правильный пароль!</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col form-floating position-relative">
                                                    <input type="password" class="form-control" id="confirm-password-form" placeholder="confirm-password-form" oninput="validateConfirmPassword()" required>
                                                    <label for="confirm-password-form" class="ms-2">Подтвердите пароль</label>
                                                    <div class="valid-feedback">
                                                        <p id="confirm-password-valid-data" class="text-center">Отлично!</p>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <p id="confirm-password-invalid-data" class="text-center">Пароли не совпадают!</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col form-floating position-relative">
                                                    <input type="text" class="form-control" id="lastname-form" placeholder="lastname-form" oninput="validateName('lastname-form')" required>
                                                    <label for="lastname-form" class="ms-2">Фамилия</label>
                                                    <div class="valid-feedback">
                                                        <p id="lastname-valid-data" class="text-center">Отлично!</p>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <p id="lastname-form-invalid-data" class="text-center">Введите корректное ФИО!</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col form-floating position-relative">
                                                    <input type="text" class="form-control" id="name-form" placeholder="name-form" oninput="validateName('name-form')" required>
                                                    <label for="name-form" class="ms-2">Имя</label>
                                                    <div class="valid-feedback">
                                                        <p id="name-valid-data" class="text-center">Отлично!</p>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <p id="name-form-invalid-data" class="text-center">Введите корректное ФИО!</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col form-floating position-relative">
                                                    <input type="text" class="form-control" id="middle-name-form" placeholder="middle-name-form" oninput="validateName('middle-name-form')" required>
                                                    <label for="middle-name-form" class="ms-2">Отчество</label>
                                                    <div class="valid-feedback">
                                                        <p id="middle-name-valid-data" class="text-center">Отлично!</p>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <p id="middle-name-form-invalid-data" class="text-center">Введите корректное ФИО!</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col form-floating position-relative">
                                                    <input type="date" class="form-control" id="date-form" placeholder="date-form" oninput="validateDate()" required>
                                                    <label for="date-form" class="ms-2">Дата рождения</label>
                                                    <div class="valid-feedback">
                                                        <p id="date-valid-data" class="text-center">Отлично!</p>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <p id="date-invalid-data" class="text-center">Введите корректную дату рождения!</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col form-floating position-relative">
                                                    <input type="email" class="form-control" id="email-form" placeholder="email-form" oninput="validateEmail()" required>
                                                    <label for="email-form" class="ms-2">Электронная почта</label>
                                                    <div class="valid-feedback">
                                                        <p id="email-valid-data" class="text-center">Отлично!</p>
                                                    </div>
                                                    <div class="invalid-feedback">
                                                        <p id="email-invalid-data" class="text-center">Введите корректный email!</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="d-grid gap-2 col-6 mx-auto">
                                                    <button class="btn btn-outline-success" type="button" id="reg-form-submit" onclick="checkAndSend()" disabled>Регистрация</button>
                                                </div>
                                            </div>
                                            <div class="row pt-2">
                                                <div class="col text-center">
                                                    <a href="#" onclick="showAuthForm()"><small>Есть учетная запись? Авторизуйся!</small></a>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>

                </div>
            </nav>
        </div>
    </header>
</div>

<script th:inline="javascript">
    let csrf = [[${_csrf}]];

    function checkAndSend(){
        totalValidate();
        const form = document.getElementById('reg-form');
        if (!form.checkValidity()) {
            form.classList.add('was-validated');
            return;
        }else{

            let birthdayInput = $('#date-form').val();
            let birthdayDate = new Date(birthdayInput);
            let birthdayString = birthdayDate.toISOString().split('T')[0];

            let personalData = {
                username: $('#username-form').val(),
                password: $('#password-form').val(),
                lastname: $('#lastname-form').val(),
                name: $('#name-form').val(),
                middleName: $('#middle-name-form').val(),
                birthday: birthdayString,
                placedAt: new Date().toISOString().split('T')[0],
                email: $('#email-form').val()
            };

            let header = csrf.headerName;
            let token = csrf.token;

            $.ajax({
                url:'/api/user/reg',
                type:'post',
                data: JSON.stringify(personalData),
                contentType:'application/json',
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function (response){
                    if(response){
                        let regForm = document.getElementById('reg-form');
                        regForm.reset();
                        regForm.classList.remove('was-validated');
                        totalValidate();
                        toggleSubmitButton();
                        showAuthForm();

                        // Заполнение полей формы авторизации
                        document.getElementById('username').value = personalData.username;
                        document.getElementById('password').value = personalData.password;

                        // Отправка формы авторизации
                        document.getElementById('auth-form').submit();

                        // Закрытие dropdown
                        const dropdownMenu = document.querySelector('.dropdown-menu');
                        const dropdownButton = document.querySelector('.dropdown-toggle');
                        dropdownMenu.classList.remove('show');
                        dropdownButton.setAttribute('aria-expanded', 'false');

                        showToast('success','Вы успешно зарегистрировались.');
                    }else{
                        showToast('error','Непредвиденная ошибка.');
                    }
                }
            });
        }
    }

    function totalValidate(){
        validateUsername();
        validatePassword();
        validateName('lastname-form');
        validateName('name-form');
        validateName('middle-name-form');
        validateDate();
        validateEmail();
    }


    function validateUsername(){
        const usernameInput = document.getElementById('username-form');
        const usernameInvalidFeedback = document.getElementById('username-invalid-data');

        // Если поле пустое, не делаем запрос
        if (usernameInput.value === '') {
            usernameInput.classList.remove('is-invalid');
            usernameInput.classList.remove('is-valid');
            return;
        }else{
            if(usernameInput.value.length < 4){
                usernameInput.classList.add('is-invalid');
                usernameInput.classList.remove('is-valid');
                usernameInvalidFeedback.textContent = 'Минимальная длинна 4 знака!';
            }else{
                $.ajax({
                    url:'/api/user/search/username',
                    type:'get',
                    data:{
                        username:usernameInput.value
                    },
                    success:function(response){
                        if(response){
                            // Имя пользователя уже существует
                            usernameInput.classList.add('is-invalid');
                            usernameInput.classList.remove('is-valid');
                            usernameInvalidFeedback.textContent = 'Такое имя пользователя уже занято!';
                        }else{
                            // Имя пользователя свободно
                            usernameInput.classList.remove('is-invalid');
                            usernameInput.classList.add('is-valid');
                        }
                    }
                });
            }
        }
        toggleSubmitButton();
    }

    function validatePassword(){
        const passwordInputForm = document.getElementById('password-form');
        const confirmPasswordInputForm = document.getElementById('confirm-password-form');
        const passwordInvalidFeedback = document.getElementById('password-invalid-data');

        if(passwordInputForm.value === ''){
            if(confirmPasswordInputForm.value === ''){
                passwordInputForm.classList.remove('is-invalid');
                passwordInputForm.classList.remove('is-valid');
                confirmPasswordInputForm.classList.remove('is-invalid');
                confirmPasswordInputForm.classList.remove('is-valid');
                return;
            }else{
                passwordInputForm.classList.remove('is-invalid');
                passwordInputForm.classList.remove('is-valid');
                return;
            }
        }else{
            if(passwordInputForm.value.length < 8){
                passwordInputForm.classList.add('is-invalid');
                passwordInputForm.classList.remove('is-valid');
                passwordInvalidFeedback.textContent = 'Минимальная длинна пароля 8 знаков!';
            } else {
                passwordInputForm.classList.remove('is-invalid');
                passwordInputForm.classList.add('is-valid');
            }
        }

        validateConfirmPassword();
    }

    function validateConfirmPassword(){
        const passwordInput = document.getElementById('password-form');
        const confirmPasswordInput = document.getElementById('confirm-password-form');
        const confirmPasswordInvalidFeedback = document.getElementById('confirm-password-invalid-data');

        if(confirmPasswordInput.value === ''){
            confirmPasswordInput.classList.remove('is-invalid');
            confirmPasswordInput.classList.remove('is-valid');
            return;
        }else{
            if (passwordInput.value !== confirmPasswordInput.value) {
                confirmPasswordInput.classList.add('is-invalid');
                confirmPasswordInput.classList.remove('is-valid');
                confirmPasswordInvalidFeedback.textContent = 'Пароли не совпадают!';
            } else {
                confirmPasswordInput.classList.remove('is-invalid');
                confirmPasswordInput.classList.add('is-valid');
            }
        }
        toggleSubmitButton();
    }

    function validateName(inputId){
        const nameInput = document.getElementById(inputId);
        const nameInvalidFeedback = document.getElementById(inputId + '-invalid-data');
        const namePattern = /^[А-Я][а-я]*([-][А-Я][а-я]*)?$/;

        if(nameInput.value === ''){
            nameInput.classList.remove('is-invalid');
            nameInput.classList.remove('is-valid');
            return;
        }else{
            if (!namePattern.test(nameInput.value)) {
                nameInput.classList.add('is-invalid');
                nameInput.classList.remove('is-valid');
                nameInvalidFeedback.textContent = 'Введите корректное ФИО!';
            } else {
                nameInput.classList.remove('is-invalid');
                nameInput.classList.add('is-valid');
            }
        }
        toggleSubmitButton();
    }

    function validateDate(){
        const dateInput = document.getElementById('date-form');
        const dateInvalidFeedback = document.getElementById('date-invalid-data');
        const selectedDate = new Date(dateInput.value);
        const currentDate = new Date();
        const minDate = new Date();
        minDate.setFullYear(minDate.getFullYear() - 150);

        if(dateInput.value === ''){
            dateInput.classList.remove('is-invalid');
            dateInput.classList.remove('is-valid');
            return;
        }else{
            if (selectedDate > currentDate || selectedDate < minDate) {
                dateInput.classList.add('is-invalid');
                dateInput.classList.remove('is-valid');
                dateInvalidFeedback.textContent = 'Введите корректную дату рождения!';
            } else {
                dateInput.classList.remove('is-invalid');
                dateInput.classList.add('is-valid');
            }
        }
        toggleSubmitButton();
    }

    function validateEmail(){
        const emailInput = document.getElementById('email-form');
        const emailInvalidFeedback = document.getElementById('email-invalid-data');
        const emailPattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if(emailInput.value === ''){
            emailInput.classList.remove('is-invalid');
            emailInput.classList.remove('is-valid');
            return;
        }else{
            if (!emailPattern.test(emailInput.value)) {
                emailInput.classList.add('is-invalid');
                emailInput.classList.remove('is-valid');
                emailInvalidFeedback.textContent = 'Введите корректный email!';
            } else {
                emailInput.classList.remove('is-invalid');
                emailInput.classList.add('is-valid');
            }
        }
        validateEmailExists();
    }

    function validateEmailExists(){
        const emailInput = document.getElementById('email-form');
        const emailInvalidFeedback = document.getElementById('email-invalid-data');

        $.ajax({
            url:'/api/user/email/check',
            type:'get',
            data:{
                email: emailInput.value
            },
            success:function(response){
                if(response){
                    // Email уже существует
                    emailInput.classList.add('is-invalid');
                    emailInput.classList.remove('is-valid');
                    emailInvalidFeedback.textContent = 'Такой email уже занят!';
                }
            }
        });

        toggleSubmitButton();
    }


    function toggleSubmitButton(){
        const form = document.getElementById('reg-form');
        const submitButton = document.getElementById('reg-form-submit');

        if (form.checkValidity()) {
            submitButton.removeAttribute('disabled');
        } else {
            submitButton.setAttribute('disabled', 'disabled');
        }
    }

    function mainSearch(){
        let searchRequest = $('#main-search').val();
        searchRequest = '\"' + searchRequest + '\"';
        $.ajax({
            url:'/api/global/search',
            type:'get',
            data:{
                query:searchRequest
            },
            success:function (response){
                console.log(response);
                updatePosts(response.locations);
            }
        });
    }


    function showAuthForm(){
        document.getElementById('auth-form').hidden = false;
        document.getElementById('reg-form').hidden = true;
    }

    function showRegForm(){
        document.getElementById('auth-form').hidden = true;
        document.getElementById('reg-form').hidden = false;
    }
</script>